@{
    Layout = null;
}

To: @ViewBag.To
From: lolcats@website.com
Subject: Membresía Expirada

   <html>
   <head>
       <title>Service Market - Servicios Persona a Persona</title>
       <link href="@Url.Content("~/Content/EmailTemplates.css")" rel="stylesheet" />
   </head>
   <body>

       <br />
       <div class="another-page">
           <div class="headline">
               <div class="logo">
                   <a href="@Url.Action("Index", "Home")">
                       <img id="logo-header" src="@Url.Content("~/Images/logo1-blue.png")" alt="Logo"></a>
               </div>
               <h3>Membresía Expirada</h3>
           </div>
           <h5>Estimado(a) @ViewBag.UserName :
           </h5>
           <br />
           <h5>Service Market le informa que su membresía ha expirarado. Si desea extender su membresía haga clic<a href="@ViewBag.ConfirmLink">&nbsp;aqui.</a></h5>
           <br />
           <h5>Le recordamos que al expirar su membresía sus anuncios serán desactivados y se le asignará una membresía totalmente gratuita.</h5>
           <br />
           <br />
           <h5>Gracias por preferirnos.</h5>
           <br />
           <br />
           <h5>Atentamente,</h5>
           <h5>Service Market</h5>
       </div>

       <div class="footer">
           <div class="container">
               <div class="row-fluid">
                   <div class="span12">
                       <h6>Por favor no responda a este mensaje; fue enviado desde una dirección de correo electrónico no supervisada como parte del servicio que ofrece el Sitio Web Service Market.</h6>
                   </div>
               </div>
           </div>
       </div>
       <div class="copyright">
           <div class="container">
               <div class="row-fluid">
                   <div class="span12">
                       <p>
                           2014 &#169; Service Market. Todos los derechos reservados. <a href="#">Política de Privacidad</a> | <a href="#">Término de Servicios</a>
                       </p>
                   </div>
               </div>
           </div>
       </div>
   </body>
   </html>
