@{
    ViewBag.Title = "Home Page";
}

<script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>
<link href="@Url.Content("~/Content/Unify/flexslider.css")" rel="stylesheet" />


<script src="@Url.Content("~/Scripts/CustomScript/modernizr.custom.js")"></script>


<script src="@Url.Content("~/Scripts/CustomScript/jquery.flexslider-min.js")"></script>

<script src="@Url.Content("~/Scripts/CustomScript/modernizr.js")"></script>

<script src="@Url.Content("~/Scripts/CustomScript/jquery.cslider.js")"></script>
<script src="@Url.Content("~/Scripts/CustomScript/back-to-top.js")"></script>

<script src="@Url.Content("~/Scripts/CustomScript/app.js")"></script>


<script src="@Url.Content("~/Scripts/CustomScript/index.js")"></script>

<!--=== Purchase Block ===-->
<div class="row-fluid purchase margin-bottom-30">
    <div class="container">
        <div class="span9">
            <span>Service Market servicios persona a persona.</span>
            <p>Aquí usted podrá buscar los servicios que necesite sin tener que hacer filas, llamadas innecesarias y sobre todo desde cualquier parte del mundo y en el horario que le sea más conveniente.</p>
        </div>
        <a href="#" class="btn-buy hover-effect">Conozca más</a>
    </div>
</div>
<!--/row-fluid-->
<!-- End Purchase Block -->

<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>CLEAN &amp; FRESH</i>
                <br />
                <i>FULLY RESPONSIVE</i>
                <br />
                <i>DESIGN</i></h2>
            <p>
                <i>Lorem ipsum dolor amet</i>
                <br />
                <i>tempor incididunt ut</i>
                <br />
                <i>veniam omnis </i>
            </p>
            <div class="da-img">
                <img src="@Url.Content("~/Images/1.png")" alt="" />
            </div>
        </div>
        <div class="da-slide">
            <h2><i>RESPONSIVE VIDEO</i>
                <br />
                <i>SUPPORT AND</i>
                <br />
                <i>MANY MORE</i></h2>
            <p>
                <i>Lorem ipsum dolor amet</i>
                <br />
                <i>tempor incididunt ut</i>
            </p>
            <div class="da-img span6">
                <div class="span6">
                    <iframe src="http://player.vimeo.com/video/47911018" width="100%" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="da-slide">
            <h2><i>USING BEST WEB</i>
                <br />
                <i>SOLUTIONS WITH</i>
                <br />
                <i>HTML5/CSS3</i></h2>
            <p>
                <i>Lorem ipsum dolor amet</i>
                <br />
                <i>tempor incididunt ut</i>
                <br />
                <i>veniam omnis </i>
            </p>
            <div class="da-img">
                <img src="@Url.Content("~/Images/html5andcss3.png")" alt="image01" />
            </div>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </nav>
    </div>
    <!--/da-slider-->
</div>

<br />

<div id="anuncioInfo">

</div>

@*<div class="row-fluid">
    <div class="span12 booking-blocks">
        <!--   -->
        <div class="pull-left booking-img">
            <!--   -->
            <img src="~/Images/1.png" alt="Nombre del anunciante">
            <!-- Nombre del Anunciante  -->
            <ul class="unstyled">
                <li><i class="icon-briefcase"></i>Categoria</li>
                <!-- Categorias  -->
                <li><i class="icon-map-marker"></i>Lugar del anuncio</li>
                <!-- Lugar del anuncio, agregar campo a la base de datos  -->
                <li>
                    <ul class="unstyled inline">
                        <!-- Calculado basado Review basado en 5  -->
                        <li><i class="icon-star"></i></li>
                        <li><i class="icon-star"></i></li>
                        <li><i class="icon-star"></i></li>
                        <li><i class="icon-star"></i></li>
                        <li><i class="icon-star-empty"></i></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div style="overflow: hidden;">
            <h2><a href="#">Titulo del anuncio</a></h2>
            <!-- Titulo Anuncio  -->

            <p>Esta es la descripcion del servicio que se ofrece, At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.  </p>
            <!-- Descripcion de anuncio, basado en 200 caracteres -->
            <button class="btn-u btn-u-orange">Leer Más</button>
            <!-- Nombre del Anunciante  -->
        </div>
    </div>
</div>*@



<!--/slider-->
<!--=== End Slider ===-->
<script type="text/javascript">
    jQuery(document).ready(function () {
        Index.initParallaxSlider();
    });

    var $jq = jQuery.noConflict();

    $jq(function () {


        jQuery.ajax(
               {
                   type: 'post',
                   url: '@Url.Action("GetServices", "Home")',
                   success: function (data) {
                       var result = JSON.parse(data);

                       var htmldata = '';

                       $jq.each(result.$values, function (val, anuncio) {
                           
                           htmldata += '<div class="row-fluid">';
                           htmldata += '<div class="span12 booking-blocks"> ';
                           htmldata += '<div class="pull-left booking-img">';
                           htmldata += '<img src=' + anuncio.FirstImage + ' alt=' + anuncio.Usuario + '> ';
                           htmldata += '<ul class="unstyled">';
                           htmldata += '<li><i class="icon-briefcase"></i>' + anuncio.CategoriaDescripcion + '</li> ';
                           htmldata += '<li><i class="icon-map-marker"></i>' + anuncio.AnunciosInfo.AN_Area + '</li>';
                           htmldata += '<li>';
                           htmldata += '<ul class="unstyled inline"> ';
                           htmldata += ' <li><i class="icon-star"></i></li>';
                           htmldata += '<li><i class="icon-star"></i></li>';
                           htmldata += '<li><i class="icon-star"></i></li>';
                           htmldata += '<li><i class="icon-star"></i></li>';
                           htmldata += '<li><i class="icon-star-empty"></i></li>';
                           htmldata += '</ul>';
                           htmldata += '</li>';
                           htmldata += '</ul>';
                           htmldata += '</div>';
                           htmldata += '<div style="overflow: hidden;">';
                           htmldata += '<h2><a href="#">' + anuncio.AnunciosInfo.AN_Titulo + '</a></h2> ';
                           htmldata += '<p>' + anuncio.AnunciosInfo.AN_Descripcion + '</p>';
                           htmldata += '<button class="btn-u btn-u-orange">Leer Más</button>';
                           htmldata += '</div>';
                           htmldata += '</div>';
                           htmldata += '</div>';

                       });

                       $jq('#anuncioInfo').append(htmldata);

                   },
                   error: function (a, b, c) {

                   }
               });
    });
</script>
