@{
    ViewBag.Title = "Home Page";
}

<script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>
<link href="@Url.Content("~/Content/Unify/flexslider.css")" rel="stylesheet" />


<script src="@Url.Content("~/Scripts/CustomScript/modernizr.custom.js")"></script>


<script src="@Url.Content("~/Scripts/CustomScript/jquery.flexslider-min.js")"></script>

<script src="@Url.Content("~/Scripts/CustomScript/modernizr.js")"></script>

<script src="@Url.Content("~/Scripts/CustomScript/jquery.cslider.js")"></script>
<script src="@Url.Content("~/Scripts/CustomScript/back-to-top.js")"></script>

<script src="@Url.Content("~/Scripts/CustomScript/app.js")"></script>


<script src="@Url.Content("~/Scripts/CustomScript/index.js")"></script>

<!--=== Purchase Block ===-->
<div class="row-fluid purchase margin-bottom-30">
    <div class="container">
        <div class="span9">
            <span>Unify is a clean and fully responsive incredible Template.</span>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat.</p>
        </div>
        <a href="#" class="btn-buy hover-effect">Purchase Now</a>
    </div>
</div>
<!--/row-fluid-->
<!-- End Purchase Block -->

<!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider" style="background-position: 100% 0%;">
        <div class="da-slide da-slide-toleft">
            <h2><i>CLEAN &amp; FRESH</i>
                <br>
                <i>FULLY RESPONSIVE</i>
                <br>
                <i>DESIGN</i></h2>
            <p>
                <i>Lorem ipsum dolor amet</i>
                <br>
                <i>tempor incididunt ut</i>
                <br>
                <i>veniam omnis </i>
            </p>
            <div class="da-img">
                <img src="@Url.Content("~/Images/1.png")"alt="">
            </div>
        </div>
        <div class="da-slide da-slide-toleft">
            <h2><i>RESPONSIVE VIDEO</i>
                <br>
                <i>SUPPORT AND</i>
                <br>
                <i>MANY MORE</i></h2>
            <p>
                <i>Lorem ipsum dolor amet</i>
                <br>
                <i>tempor incididunt ut</i>
            </p>
            <div class="da-img span6">
                <div class="span6">
                </div>
            </div>
        </div>
        <div class="da-slide da-slide-fromright da-slide-current">
            <h2><i>USING BEST WEB</i>
                <br>
                <i>SOLUTIONS WITH</i>
                <br>
                <i>HTML5/CSS3</i></h2>
            <p>
                <i>Lorem ipsum dolor amet</i>
                <br>
                <i>tempor incididunt ut</i>
                <br>
                <i>veniam omnis </i>
            </p>
            <div class="da-img">
                <img src="@Url.Content("~/Images/6(1).jpg")" alt="image01">
            </div>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </nav>
        <nav class="da-dots"><span class=""></span><span class=""></span><span class="da-dots-current"></span></nav>
    </div>
    <!--/da-slider-->
</div>
<!--/slider-->
<!--=== End Slider ===-->
<script type="text/javascript">
    jQuery(document).ready(function () {
        Index.initParallaxSlider();
    });
</script>
