@{
    ViewBag.Title = "Home Page";
}



<!--=== Purchase Block ===-->
<div class="row-fluid purchase margin-bottom-30">
    <div class="container">
        <div class="span9">
            <span>Service Market servicios persona a persona.</span>
            <p>
                Aquí usted podrá buscar los servicios que necesite sin tener que hacer filas, llamadas innecesarias y sobre todo desde cualquier parte del mundo y en el horario que le sea más conveniente.
                <a href="@Url.Content("~/Home/About")" style="color:#e67e22">Conozca más</a>
            </p>

        </div>
        <a href="@Url.Content("~/Anuncios/Create")" class="btn-u btn-buy hover-effect">¡Publica Ya!</a>
    </div>
</div>
<!--/row-fluid-->
<!-- End Purchase Block -->

@*@if(Request.IsAuthenticated && ViewBag.IsIncomplete)
{
<div class="row-fluid">
    <div class="alert alert-error">
         <strong><a href="@Url.Action("UserProfile","EditUser")">Haga click aquí</a></strong> para completar el registro de su perfil.
        
      </div>
    <br />
</div>
}*@
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>Service Market</i>
                <br />
                <i>En todos tus</i>
                <br />
                <i>Dispositivos</i></h2>
            <p>
                <i>Ingresa a Service Market desde</i>
                <br />
                <i>tu computadora, celular</i>
                <br />
                <i>o tablet</i>
            </p>
            <div class="da-img">
                <img src="@Url.Content("~/Images/4.png")" alt="" />
            </div>
        </div>
        <div class="da-slide">
            <h2><i>Encuentra los mejores</i>
                <br />
                <i>servicios y publica</i>
                <br />
                <i>los tuyos grátis</i></h2>
            <p>
                <i>Todo en un solo sitio</i>
                <br />
                <i>y en el horario que elijas</i>
            </p>
            <div class="da-img" style="top: 12px;">
                <img src="@Url.Content("~/Images/2.png")" alt="" style="width: 48%;" />
            </div>
        </div>
        <div class="da-slide">
            <h2><i>Mantente siempre en</i>
                <br />
                <i>contacto con </i>
                <br />
                <i>Service Market</i></h2>
            <p>
                <i>Síguenos en</i>
                <br />
                <i>Facebook y </i>
                <br />
                <i>Twitter </i>
            </p>
            <div class="da-img">
                <img src="@Url.Content("~/Images/3.png")" alt="image01" />
            </div>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </nav>
    </div>
    <!--/da-slider-->
</div>



<br />


<div class="span9">


    <div class="row-fluid purchase">
        <span>Búsqueda de Servicios</span>
        <div class="form-inline">
            <div class="input-append">
                <input id="txtSearchHome" class="input-xxlarge" type="text" placeholder="Buscar en la página">
                <button type="submit" class="btn-u btn-u-orange"><i class="icon-search icon-white"></i></button>
            </div>
            <a href="#advanced" role="button" data-toggle="modal" class="btn-u btn-u-orange btn-large">Búsqueda Avanzada</a>
        </div>

    </div>
    <br />
</div>
<div class="span3">
 <div id="google_image_div" style="height: 250px; width: 300px; overflow:hidden; position:absolute"><input type="hidden" id="csi" value="1"><a id="aw0" target="_blank" href="http://www.googleadservices.com/pagead/aclk?sa=L&amp;ai=CzxCz-Aq1Vc63DIi0fOHFq_ABstfWnweysLnQ9wG_6KK9wAEQASDhyP0kYNAEoAGOz53dA8gBAuACAKgDAcgDmQSqBJoBT9ArFdxK3MK2UurJjb_EKlyiWXtw6e9PkNzn67FQ3aW_pkcmnBFtw0yolwM1t5lNxNpcfAVhQiViC7HzHtYLnp7XRNr55f0sXXrimlhezOmkDZWxE_Kn3mrkx5MQYcP16q4BMjhJO_yArabB_ksQ-tLLGEvlGf4MGkvJrJnOfLT3-bu2rVgFNtK_sVqv0x7flw9aT9_f3sCzIeAEAYgGAaAGAoAH2rDiIqgHpr4b2AcB&amp;num=1&amp;cid=5Gj8IcyUP_8nbL8Q3EPNcfeK&amp;sig=AOD64_0Tt0rSyaJQ2gA5FkvFoU-jbRvLgw&amp;client=ca-pub-7523962396620571&amp;adurl=http://ad.doubleclick.net/ddm/clk/292980799%3B120197897%3Bi" data-original-click-url="http://www.googleadservices.com/pagead/aclk?sa=L&amp;ai=CzxCz-Aq1Vc63DIi0fOHFq_ABstfWnweysLnQ9wG_6KK9wAEQASDhyP0kYNAEoAGOz53dA8gBAuACAKgDAcgDmQSqBJoBT9ArFdxK3MK2UurJjb_EKlyiWXtw6e9PkNzn67FQ3aW_pkcmnBFtw0yolwM1t5lNxNpcfAVhQiViC7HzHtYLnp7XRNr55f0sXXrimlhezOmkDZWxE_Kn3mrkx5MQYcP16q4BMjhJO_yArabB_ksQ-tLLGEvlGf4MGkvJrJnOfLT3-bu2rVgFNtK_sVqv0x7flw9aT9_f3sCzIeAEAYgGAaAGAoAH2rDiIqgHpr4b2AcB&amp;num=1&amp;cid=5Gj8IcyUP_8nbL8Q3EPNcfeK&amp;sig=AOD64_0Tt0rSyaJQ2gA5FkvFoU-jbRvLgw&amp;client=ca-pub-7523962396620571&amp;adurl=http://ad.doubleclick.net/ddm/clk/292980799%3B120197897%3Bi"><img src="https://tpc.googlesyndication.com/simgad/7384976317544672534" border="0" width="300" class="img_ad" onload="tick('1ad');"></a><style>div,ul,li{margin:0;padding:0;}.abgc{height:15px;position:absolute;right:16px;text-rendering:geometricPrecision;top:0;width:15px;z-index:9010;}.abgb{height:100%;}.abgc img{display:block;}.abgc svg{display:block;}.abgs{display:none;height:100%;}.abgl{text-decoration:none;}</style><div id="abgc" class="abgc" dir="ltr"><div id="abgb" class="abgb"><svg width="100%" height="100%"><rect width="100%" height="100%" fill="lightgray"></rect><svg stroke="#00aecd" fill="#00aecd" x="0px" y="0px"><circle cx="7.5px" cy="7.5px" r="5.5px" fill="none" stroke-width="1.1px"></circle><circle cx="7.5px" cy="4.75px" r="1px" stroke="none"></circle><line x1="7.5px" x2="7.5px" y1="6.5px" y2="11px" fill="none" stroke-width="1.75px"></line></svg></svg></div><div id="abgs" class="abgs"><a id="abgl" class="abgl" href="https://www.google.com/url?ct=abg&amp;q=https://www.google.com/adsense/support/bin/request.py%3Fcontact%3Dabg_afc%26url%3Dhttps://memeate.com/get.htm%253F33%253D300%252652%253D250%26gl%3DPA%26hl%3Des%26client%3Dca-pub-7523962396620571%26ai0%3DCzxCz-Aq1Vc63DIi0fOHFq_ABstfWnweysLnQ9wG_6KK9wAEQASDhyP0kYNAEoAGOz53dA8gBAuACAKgDAcgDmQSqBJoBT9ArFdxK3MK2UurJjb_EKlyiWXtw6e9PkNzn67FQ3aW_pkcmnBFtw0yolwM1t5lNxNpcfAVhQiViC7HzHtYLnp7XRNr55f0sXXrimlhezOmkDZWxE_Kn3mrkx5MQYcP16q4BMjhJO_yArabB_ksQ-tLLGEvlGf4MGkvJrJnOfLT3-bu2rVgFNtK_sVqv0x7flw9aT9_f3sCzIeAEAYgGAaAGAoAH2rDiIqgHpr4b2AcB&amp;usg=AFQjCNHxdMdAW43smzHXW_btDFZ7F7DnRw" target="_blank"><svg width="100%" height="100%"><path fill="lightgray" d="M0,0L100,0L100,15L4,15s-4,0,-4,-4z"></path><svg overflow="visible" x="5px" y="11px" width="38px"><text fill="black" font-family="Arial" font-size="100px">Anuncios</text></svg><svg overflow="visible" x="45px" y="11px" width="38px"><text fill="black" font-family="Arial" font-size="100px">Google</text></svg><svg stroke="#00aecd" fill="#00aecd" x="85px" y="0px"><circle cx="7.5px" cy="7.5px" r="5.5px" fill="none" stroke-width="1.1px"></circle><circle cx="7.5px" cy="4.75px" r="1px" stroke="none"></circle><line x1="7.5px" x2="7.5px" y1="6.5px" y2="11px" fill="none" stroke-width="1.75px"></line></svg></svg></a></div></div><script src="https://tpc.googlesyndication.com/pagead/js/r20150721/r20110914/abg.js"></script><script>var abgp = { elp: document.getElementById('abgcp'), el: document.getElementById('abgc'), ael: document.getElementById('abgs'), iel: document.getElementById('abgb'), hw: 15, sw: 100, hh: 15, sh: 15, himg: 'https://tpc.googlesyndication.com' + '/pagead/images/abg/icon.png', simg: 'https://tpc.googlesyndication.com/pagead/images/abg/es.png', alt: 'Anuncios Google', t: 'Anuncios', tw: 38, t2: 'Google', t2w: 38, tbo: 0, att: 'adsbygoogle', ff: '', halign: 'right', fe: false, fnb: false, iba: false, lttp: false, umd: false, uic: false, uit: false, ict: document.getElementById('cbb'), icd: undefined }; window.abg && new window.abg(abgp['elp'], abgp['el'], abgp['ael'], abgp['iel'], abgp['hw'], abgp['sw'], abgp['hh'], abgp['sh'], abgp['himg'], abgp['simg'], abgp['alt'], abgp['t'], abgp['tw'], abgp['t2'], abgp['t2w'], abgp['tbo'], abgp['att'], abgp['halign'], abgp['ff'], abgp['fe'], abgp['fnb'], abgp['iba'], abgp['lttp'], abgp['umd'], abgp['uic'], abgp['uit'], abgp['ict'], abgp['icd']);</script><style>.cbc{background-image: url('https://tpc.googlesyndication.com/pagead/images/x_button_blue2.png');background-position: right top;background-repeat: no-repeat;cursor:pointer;height:15px;right:0;top:0;margin:0;overflow:hidden;padding:0;position:absolute;width:16px;z-index:9010;}.cbc.cbc-hover {background-image: url('https://tpc.googlesyndication.com/pagead/images/x_button_dark.png');}.cbc > .cb-x{height: 15px;position:absolute;width: 16px;right:0;top:0;}.cb-x > .cb-x-svg{background-color: lightgray;position:absolute;}.cbc.cbc-hover > .cb-x > .cb-x-svg{background-color: #58585a;}.cb-x > .cb-x-svg > .cb-x-svg-path{fill : #00aecd;}.cbc.cbc-hover > .cb-x > .cb-x-svg > .cb-x-svg-path{fill : white;}.cb-x > .cb-x-svg > .cb-x-svg-s-path{fill : white;}</style><div id="cbc" class="cbc"><div id="cb-x" class="cb-x"></div> </div> <style>.ddmc{background:#ccc;color:#000;padding:0;position:absolute;z-index:9020;max-width:100%;box-shadow:2px 2px 3px #aaaaaa;}.ddmc.left{margin-right:0;left:0px;}.ddmc.right{margin-left:0;right:0px;}.ddmc.top{bottom:20px;}.ddmc.bottom{top:20px;}.ddmc .tip{border-left:4px solid transparent;border-right:4px solid transparent;height:0;position:absolute;width:0;font-size:0;line-height:0;}.ddmc.bottom .tip{border-bottom:4px solid #ccc;top:-4px;}.ddmc.top .tip{border-top:4px solid #ccc;bottom:-4px;}.ddmc.right .tip{right:3px;}.ddmc.left .tip{left:3px;}.ddmc .dropdown-content{display:block;}.dropdown-content{display:none;border-collapse:collapse;}.dropdown-item{font:12px Arial,sans-serif;cursor:pointer;padding:3px 7px;vertical-align:middle;}.dropdown-item-hover{background:#58585a;color:#fff;}.dropdown-content > table{border-collapse:collapse;border-spacing:0;}.dropdown-content > table > tbody > tr > td{padding:0;}</style><div id="ddmc" style="display:none" class="ddmc right bottom"><div class="tip"></div><div class="dropdown-content"><table><tbody><tr><td><div id="pubmute" style="border-bottom:1px solid #999;" class="dropdown-item"><span>El anuncio ocupa toda la página</span></div></td></tr><tr><td><div id="admute" class="dropdown-item"><span>Dejar de ver este anuncio</span></div></td></tr></tbody></table></div></div><script>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            (function () { var k = this, l = function (a, b) { var c = a.split("."), d = k; c[0] in d || !d.execScript || d.execScript("var " + c[0]); for (var f; c.length && (f = c.shift()) ;) c.length || void 0 === b ? d = d[f] ? d[f] : d[f] = {} : d[f] = b }, r = function (a) { var b = typeof a; if ("object" == b) if (a) { if (a instanceof Array) return "array"; if (a instanceof Object) return b; var c = Object.prototype.toString.call(a); if ("[object Window]" == c) return "object"; if ("[object Array]" == c || "number" == typeof a.length && "undefined" != typeof a.splice && "undefined" != typeof a.propertyIsEnumerable && !a.propertyIsEnumerable("splice")) return "array"; if ("[object Function]" == c || "undefined" != typeof a.call && "undefined" != typeof a.propertyIsEnumerable && !a.propertyIsEnumerable("call")) return "function" } else return "null"; else if ("function" == b && "undefined" == typeof a.call) return "object"; return b }, aa = function (a, b, c) { return a.call.apply(a.bind, arguments) }, ba = function (a, b, c) { if (!a) throw Error(); if (2 < arguments.length) { var d = Array.prototype.slice.call(arguments, 2); return function () { var c = Array.prototype.slice.call(arguments); Array.prototype.unshift.apply(c, d); return a.apply(b, c) } } return function () { return a.apply(b, arguments) } }, t = function (a, b, c) { t = Function.prototype.bind && -1 != Function.prototype.bind.toString().indexOf("native code") ? aa : ba; return t.apply(null, arguments) }; var u = "undefined" != typeof DOMTokenList, v = function (a, b) { if (u) { var c = a.classList; 0 == c.contains(b) && c.toggle(b) } else if (c = a.className) { for (var c = c.split(/\s+/), d = !1, f = 0; f < c.length && !d; ++f) d = c[f] == b; d || (c.push(b), a.className = c.join(" ")) } else a.className = b }, w = function (a, b) { if (u) { var c = a.classList; 1 == c.contains(b) && c.toggle(b) } else if ((c = a.className) && !(0 > c.indexOf(b))) { for (var c = c.split(/\s+/), d = 0; d < c.length; ++d) c[d] == b && c.splice(d--, 1); a.className = c.join(" ") } }; var x = String.prototype.trim ? function (a) { return a.trim() } : function (a) { return a.replace(/^[\s\xa0]+|[\s\xa0]+$/g, "") }, y = function (a, b) { return a < b ? -1 : a > b ? 1 : 0 }; var ea = function (a) { var b = window; b.addEventListener ? b.addEventListener("load", a, !1) : b.attachEvent && b.attachEvent("onload", a) }, z = function (a, b, c, d) { c = t(d, c); a.addEventListener ? a.addEventListener(b, c, !1) : a.attachEvent && a.attachEvent("on" + b, c) }; var A = function (a) { var b = arguments.length; if (1 == b && "array" == r(arguments[0])) return A.apply(null, arguments[0]); for (var c = {}, d = 0; d < b; d++) c[arguments[d]] = !0; return c }; A("area base br col command embed hr img input keygen link meta param source track wbr".split(" ")); var B; a: { var C = k.navigator; if (C) { var D = C.userAgent; if (D) { B = D; break a } } B = "" }; var fa = -1 != B.indexOf("Opera") || -1 != B.indexOf("OPR"), E = -1 != B.indexOf("Trident") || -1 != B.indexOf("MSIE"), ga = -1 != B.indexOf("Edge"), F = -1 != B.indexOf("Gecko") && !(-1 != B.toLowerCase().indexOf("webkit") && -1 == B.indexOf("Edge")) && !(-1 != B.indexOf("Trident") || -1 != B.indexOf("MSIE")) && -1 == B.indexOf("Edge"), ha = -1 != B.toLowerCase().indexOf("webkit") && -1 == B.indexOf("Edge"), ia = function () { var a = B; if (F) return /rv\:([^\);]+)(\)|;)/.exec(a); if (ga) return /Edge\/([\d\.]+)/.exec(a); if (E) return /\b(?:MSIE|rv)[: ]([^\);]+)(\)|;)/.exec(a); if (ha) return /WebKit\/(\S+)/.exec(a) }, G = function () { var a = k.document; return a ? a.documentMode : void 0 }, H = function () { if (fa && k.opera) { var a = k.opera.version; return "function" == r(a) ? a() : a } var a = "", b = ia(); b && (a = b ? b[1] : ""); return E && (b = G(), b > parseFloat(a)) ? String(b) : a }(), I = {}, J = function (a) { if (!I[a]) { for (var b = 0, c = x(String(H)).split("."), d = x(String(a)).split("."), f = Math.max(c.length, d.length), e = 0; 0 == b && e < f; e++) { var m = c[e] || "", n = d[e] || "", h = RegExp("(\\d*)(\\D*)", "g"), g = RegExp("(\\d*)(\\D*)", "g"); do { var p = h.exec(m) || ["", "", ""], q = g.exec(n) || ["", "", ""]; if (0 == p[0].length && 0 == q[0].length) break; b = y(0 == p[1].length ? 0 : parseInt(p[1], 10), 0 == q[1].length ? 0 : parseInt(q[1], 10)) || y(0 == p[2].length, 0 == q[2].length) || y(p[2], q[2]) } while (0 == b) } I[a] = 0 <= b } }, K = k.document, ka = K && E ? G() || ("CSS1Compat" == K.compatMode ? parseInt(H, 10) : 5) : void 0; var L; if (!(L = !F && !E)) { var M; if (M = E) M = 9 <= ka; L = M } L || F && J("1.9.1"); E && J("9"); var la = function (a, b, c) { var d = "mouseenter_custom" == b, f = N(b); return function (e) { e || (e = window.event); if (e.type == f) { if ("mouseenter_custom" == b || "mouseleave_custom" == b) { var m; if (m = d ? e.relatedTarget || e.fromElement : e.relatedTarget || e.toElement) for (var n = 0; n < a.length; n++) { var h; h = a[n]; var g = m; if (h.contains && 1 == g.nodeType) h = h == g || h.contains(g); else if ("undefined" != typeof h.compareDocumentPosition) h = h == g || Boolean(h.compareDocumentPosition(g) & 16); else { for (; g && h != g;) g = g.parentNode; h = g == h } if (h) return } } c(e) } } }, N = function (a) { return "mouseenter_custom" == a ? "mouseover" : "mouseleave_custom" == a ? "mouseout" : a }; var ma = function () { this.u = void 0 }, O = function (a, b, c) { if (null == b) c.push("null"); else { if ("object" == typeof b) { if ("array" == r(b)) { var d = b; b = d.length; c.push("["); for (var f = "", e = 0; e < b; e++) c.push(f), f = d[e], O(a, a.u ? a.u.call(d, String(e), f) : f, c), f = ","; c.push("]"); return } if (b instanceof String || b instanceof Number || b instanceof Boolean) b = b.valueOf(); else { c.push("{"); e = ""; for (d in b) Object.prototype.hasOwnProperty.call(b, d) && (f = b[d], "function" != typeof f && (c.push(e), P(d, c), c.push(":"), O(a, a.u ? a.u.call(b, d, f) : f, c), e = ",")); c.push("}"); return } } switch (typeof b) { case "string": P(b, c); break; case "number": c.push(isFinite(b) && !isNaN(b) ? b : "null"); break; case "boolean": c.push(b); break; case "function": break; default: throw Error("Unknown type: " + typeof b); } } }, na = { '"': '\\"', "\\": "\\\\", "/": "\\/", "\b": "\\b", "\f": "\\f", "\n": "\\n", "\r": "\\r", "\t": "\\t", "\x0B": "\\u000b" }, oa = /\uffff/.test("\uffff") ? /[\\\"\x00-\x1f\x7f-\uffff]/g : /[\\\"\x00-\x1f\x7f-\xff]/g, P = function (a, b) { b.push('"', a.replace(oa, function (a) { var b = na[a]; b || (b = "\\u" + (a.charCodeAt(0) | 65536).toString(16).substr(1), na[a] = b); return b }), '"') }; var Q = function (a, b, c, d, f, e, m, n, h, g, p, q) { this.m = a; this.da = b; this.L = c; this.ba = d; this.B = f; this.A = e; this.ia = m; this.ga = n; this.o = null; this.J = !1; this.I = q; this.U = p; this.j = document.getElementById("pubmute" + g); this.i = document.getElementById("admute" + g); this.l = document.getElementById("wta" + g); this.V = parseInt(g, 10) || 0; this.F(); this.m.className = ["ddmc", h & 1 ? "left" : "right", h & 2 ? "top" : "bottom"].join(" ") }; Q.prototype.F = function () { R(this.m, "mouseenter_custom", this, this.w); R(this.m, "mouseleave_custom", this, this.M); this.j && (R(this.j, "mouseenter_custom", this, this.$), R(this.j, "mouseleave_custom", this, this.D), z(this.j, "click", this, this.ca)); this.i && (R(this.i, "mouseenter_custom", this, this.R), R(this.i, "mouseleave_custom", this, this.v), z(this.i, "click", this, this.aa)); this.l && (R(this.l, "mouseenter_custom", this, this.ea), R(this.l, "mouseleave_custom", this, this.G), z(this.l, "click", this, this.Z)) }; Q.prototype.ca = function () { S(this); pa(this, 0); var a = this.L; null != a && a(); T(this, "user_feedback_menu_option", "3", !0) }; Q.prototype.aa = function () { S(this); pa(this, 1); var a = this.L; null != a && a(); T(this, "user_feedback_menu_option", "1", !0) }; var pa = function (a, b) { var c = { type: b, close_button_token: a.A, creative_conversion_url: a.B, ablation_config: a.U, undo_callback: a.ba, creative_index: a.V }; if (a.I) a.I.fireOnObject("mute_option_selected", c); else { var d; a: { d = ["muteSurvey"]; for (var f = k, e; e = d.shift() ;) if (null != f[e]) f = f[e]; else { d = null; break a } d = f } d && d.setupSurveyPage(c) } }; Q.prototype.Z = function () { S(this); var a = window.open(this.ia, "_blank"); if (a) { var b = {}; b.whyThisAdToken = this.ga; b.closeButtonToken = this.A; b.creativeConversionUrl = this.B; var c = []; O(new ma, b, c); a.name = c.join("") } T(this, "closebutton_whythisad_click", a ? "1" : "2", !1) }; var U = function (a, b) { a.m.style.display = b ? "" : "none" }; Q.prototype.M = function () { this.o = k.setTimeout(t(function () { S(this); this.o = null }, this), 500) }; Q.prototype.w = function () { null != this.o && (k.clearTimeout(this.o), this.o = null) }; var S = function (a) { var b = a.da; null != b && b(); V(a) && U(a, !1) }; Q.prototype.$ = function () { this.j && v(this.j, "dropdown-item-hover"); this.v(); this.G() }; Q.prototype.D = function () { this.j && w(this.j, "dropdown-item-hover") }; Q.prototype.R = function () { this.i && v(this.i, "dropdown-item-hover"); this.D(); this.G() }; Q.prototype.v = function () { this.i && w(this.i, "dropdown-item-hover") }; Q.prototype.ea = function () { this.l && v(this.l, "dropdown-item-hover"); this.v(); this.D() }; Q.prototype.G = function () { this.l && w(this.l, "dropdown-item-hover") }; var V = function (a) { return "none" !== a.m.style.display }; Q.prototype.toggle = function () { V(this) ? V(this) && U(this, !1) : (U(this, !0), this.J || (this.J = !0, T(this, "user_feedback_menu_interaction"))) }; var T = function (a, b, c, d) { a = a.B + "&label=" + b + (c ? "&label_instance=" + c : "") + (d ? "&cbt=" + a.A : ""); b = window; b.google_image_requests || (b.google_image_requests = []); c = b.document.createElement("img"); c.src = a; b.google_image_requests.push(c) }, R = function (a, b, c, d) { d = la([a], b, t(d, c)); z(a, N(b), c, d) }; var W = function (a, b, c, d, f, e, m, n, h, g, p, q, ca, qa, da) { this.creativeConversionUrl = f; this.T = e; this.ha = m; this.fa = n; this.S = document.getElementById("cb-x" + ca); f = t(this.C, this); e = t(this.K, this); m = t(this.N, this); d ? (g = g ? 1 : 0, p && (g |= 2), d = new Q(d, f, e, m, this.creativeConversionUrl, this.T, this.ha, this.fa, g, ca, qa, da)) : d = null; this.h = d; this.O = document.getElementById("pbc"); this.g = a; this.P = b; this.H = c; this.s = da; "undefined" != typeof SVGElement && "undefined" != typeof document.createElementNS && q && (this.g.style.backgroundImage = "none", this.S.appendChild(ra(h))); this.F() }, X; W.prototype.F = function () { z(this.g, "click", this, this.W); z(this.g, "mouseover", this, this.Y); z(this.g, "mouseout", this, this.X) }; W.prototype.W = function () { this.h && (this.h.w(), this.h.toggle()) }; W.prototype.Y = function () { this.h && this.h.w(); null !== this.g && v(this.g, "cbc-hover") }; W.prototype.X = function () { this.h && V(this.h) ? this.h.M() : this.C() }; var ra = function (a) { var b = document.createElementNS("//www.w3.org/2000/svg", "svg"), c = document.createElementNS("//www.w3.org/2000/svg", "path"), d = document.createElementNS("//www.w3.org/2000/svg", "path"), f = 1.15 / Math.sqrt(2), e = .2 * a, f = "M" + (e + f + 1) + "," + e + "L" + (a / 2 + 1) + "," + (a / 2 - f) + "L" + (a - e - f + 1) + "," + e + "L" + (a - e + 1) + "," + (e + f) + "L" + (a / 2 + f + 1) + "," + a / 2 + "L" + (a - e + 1) + "," + (a - e - f) + "L" + (a - e - f + 1) + "," + (a - e) + "L" + (a / 2 + 1) + "," + (a / 2 + f) + "L" + (e + f + 1) + "," + (a - e) + "L" + (e + 1) + "," + (a - e - f) + "L" + (a / 2 - f + 1) + "," + a / 2 + "L" + (e + 1) + "," + (e + f) + "Z", e = "M0,0L1,0L1," + a + "L0," + a + "Z"; b.setAttribute("class", "cb-x-svg"); b.setAttribute("width", a + 1); b.setAttribute("height", a); b.appendChild(c); b.appendChild(d); c.setAttribute("d", f); c.setAttribute("class", "cb-x-svg-path"); d.setAttribute("d", e); d.setAttribute("class", "cb-x-svg-s-path"); return b }, Y = function (a) { a && (a.style.display = "block") }, Z = function (a) { a && (a.style.display = "none") }; W.prototype.C = function () { null !== this.g && w(this.g, "cbc-hover") }; W.prototype.K = function () { this.C(); this.s ? this.s.showOnly(0) : (Z(this.g), Z(this.H), Z(this.O), Y(this.P)) }; W.prototype.N = function () { this.s ? this.s.resetAll() : (Y(this.g), Y(this.H), Y(this.O), Z(this.P)) }; l("cbb", function (a, b, c, d, f, e, m, n, h, g, p, q) { ea(function () { X = new W(a, document.getElementById("cbtf"), b, c, d, f, e, m, 15, h, g, p, q, n, window.adSlot) }) }); l("cbbha", function () { X.K() }); l("cbbsa", function () { X.N() }); }).call(this); cbb(document.getElementById('cbc'), document.getElementById('google_image_div'), document.getElementById('ddmc'), 'https://googleads.g.doubleclick.net/pagead/conversion/?ai\x3dCzxCz-Aq1Vc63DIi0fOHFq_ABstfWnweysLnQ9wG_6KK9wAEQASDhyP0kYNAEoAGOz53dA8gBAuACAKgDAcgDmQSqBJoBT9ArFdxK3MK2UurJjb_EKlyiWXtw6e9PkNzn67FQ3aW_pkcmnBFtw0yolwM1t5lNxNpcfAVhQiViC7HzHtYLnp7XRNr55f0sXXrimlhezOmkDZWxE_Kn3mrkx5MQYcP16q4BMjhJO_yArabB_ksQ-tLLGEvlGf4MGkvJrJnOfLT3-bu2rVgFNtK_sVqv0x7flw9aT9_f3sCzIeAEAYgGAaAGAoAH2rDiIqgHpr4b2AcB\x26sigh\x3d97nhmoJGA9s', 'WnzYQsJzsP0IsrC50PcBEOKvspEBGOqDqSMiF21vdmlzdGFyLnhwcmVzc3BhZ28uY29tMgcIBRMYnAkUQhdjYS1wdWItNzUyMzk2MjM5NjYyMDU3MUgGWAJwAQ', 'https://www.google.com/ads/preferences/whythisad', '', '{\x22key_value\x22:[]}', false, false, false, '');</script></div>
</div>
<br />

<div id="advanced" class="modal hide fade" tabindex="-1" data-refresh="false" role="dialog" aria-labelledby="advancedSort" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <ul class="nav nav-pills pull-right">
            <li class="active">
                <a href="#date" data-toggle="pill">Categorias</a>
            </li>
            <li><a href="#relevance" data-toggle="pill">Descripción</a></li>
            <li><a href="#dealership" data-toggle="pill">Ubicación</a></li>
        </ul>
        <h4>Búsqueda Avanzada</h4>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="tab-content">
                <div class="tab-pane active" id="date">
                    <form>

                        <div class="controls controls-row">
                            @Html.DropDownList("CAT_Id", (IEnumerable<SelectListItem>)ViewBag.Categories, "Selecione la categoría", new { @class = "span6" })
                            @Html.DropDownList("SBS_Id", (IEnumerable<SelectListItem>)ViewBag.SubCategories, "Selecione la Subcategoría", new { @class = "span6" })

                        </div>
                        <input type="button" value="Buscar" data-val="1" class="btn-u btn btn-warning SearchButton" />

                    </form>
                </div>
                <div class="tab-pane" id="relevance">
                    <form>
                        <div class="controls controls-row">
                            <input type="text" id="descriptioninput" class="span12" placeholder="Descripcion, Palabras Clave, Otros">
                        </div>
                        <input type="button" value="Buscar" data-val="2" class="btn-u btn btn-warning SearchButton" />
                    </form>
                </div>
                <div class="tab-pane" id="dealership">
                    <form>

                        <div class="controls controls-row">
                            <input type="text" id="placeinput" class="span12" placeholder="Lugar, Ciudad , Ubicación">
                        </div>
                        <input type="button" value="Buscar" data-val="3" class="btn-u btn btn-warning SearchButton" />

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Anuncios Table with pagination-->
<div class="span9" id="firstSearch">
    <table class="table-hover" style="width: 100%">
        <thead>
        </thead>
        <tbody id="anunciosAvailable">
        </tbody>
        <tfoot>
            <tr>
                <td colspan="1">
                    <div class="holder" style="float: left">
                    </div>
                </td>
            </tr>
        </tfoot>

    </table>
</div>

<div class="span9" id="SecondSearch">
    <table class="table-hover" style="width: 100%">
        <thead>
        </thead>
        <tbody id="SearchData">
        </tbody>
        <tfoot>
            <tr>
                <td colspan="1">
                    <div class="holder" style="float: left">
                    </div>
                </td>
            </tr>
        </tfoot>

    </table>
</div>


<div id="divNoAnunciosFound" class="bold large span9" style="padding: 5px; display: none;">
    No se obtuvieron resultados.
</div>


<!--/slider-->
<!--=== End Slider ===-->
<script src="~/Scripts/SMA.js"></script>
<script src="~/Scripts/knockout-2.2.0.js"></script>

<script type="text/javascript">
    jQuery(function ()
    {
        Index.initParallaxSlider();
        HOME.GetServices('@Url.Action("GetServices", "Home")', '@Url.Action("Details", "Anuncios")');
        HOME.SearchKey();
        HOME.ChangeCategory("CAT_Id", '@Url.Action("GetSubCategories", "SubCategoriaServicio")');
        $(".SearchButton").click(function ()
        {
            var attr = $(this).attr('data-val');
            HOME.CallFilter(attr, '@Url.Action("GetInformationAnuncios", "Anuncios")', '@Url.Action("Details", "Anuncios")');
        });
        HOME.VerifyCredential('@Url.Action("VerifyCompleteCredential", "Home")', '@Url.Action("EditUser", "UserProfile")');
        HOME.VerifySolicitudesPendientes('@Url.Action("VerifySolicitudesPendientes", "Home")', '@Url.Action("SolicitudRequest", "SolicitudServicio")');
    });

    function CheckVisibleProjects()
    {
        var rows = jQuery('#anunciosAvailable > tr');
        if (rows.filter(':hidden').size() == rows.length)
        {
            jQuery('#divNoAnunciosFound').fadeIn(1000);
        }
        else
        {
            jQuery('#divNoAnunciosFound').hide();
        }
    }

    function SeeAnuncios(anuncioid)
    {
        var url = '@Url.Action("Details", "Anuncios")' + "/" + anuncioid;
        window.location = url;
    }

    function TakeService(anuncioid)
    {
        var titulo = $("#btnTakeService" + anuncioid).attr("data-titulo");
        var nombre = $("#btnTakeService" + anuncioid).attr("data-nombre");
        HOME.TakeService(anuncioid, '@Url.Action("TakeService", "SolicitudServicio")', nombre, titulo);
    }

    function ReportarSpam(anuncioid)
    {
        var titulo = $("#btnTakeService" + anuncioid).attr("data-titulo");
        var nombre = $("#btnTakeService" + anuncioid).attr("data-nombre");
        HOME.ReportarSpam(anuncioid, '@Url.Action("Spam", "Anuncios")', nombre, titulo);
    }



</script>
