@{
    ViewBag.Title = "Home Page";
}


<!--=== Purchase Block ===-->
<div class="row-fluid purchase margin-bottom-30">
    <div class="container">
        <div class="span9">
            <span>Service Market servicios persona a persona.</span>
            <p>Aquí usted podrá buscar los servicios que necesite sin tener que hacer filas, llamadas innecesarias y sobre todo desde cualquier parte del mundo y en el horario que le sea más conveniente.</p>
        </div>
        <a href="@Url.Content("~/Home/About")" class="btn-u btn-buy hover-effect">Conozca más</a>
    </div>
</div>
<!--/row-fluid-->
<!-- End Purchase Block -->

<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>Service Market</i>
                <br />
                <i>En todos tus</i>
                <br />
                <i>Dispositivos</i></h2>
            <p>
                <i>Ingresa a Service Market desde</i>
                <br />
                <i>tu computadora, celular</i>
                <br />
                <i>o tablet</i>
            </p>
            <div class="da-img">
                <img src="@Url.Content("~/Images/4.png")" alt="" />
            </div>
        </div>
        <div class="da-slide">
            <h2><i>Encuentra los mejores</i>
                <br />
                <i>servicios y publica</i>
                <br />
                <i>los tuyos grátis</i></h2>
            <p>
                <i>Todo en un solo sitio</i>
                <br />
                <i>y en el horario que elijas</i>
            </p>
            <div class="da-img" style="top: 12px;">
                <img src="@Url.Content("~/Images/2.png")" alt="" style="width: 48%;" />
            </div>
        </div>
        <div class="da-slide">
            <h2><i>Mantente siempre en</i>
                <br />
                <i>contacto con </i>
                <br />
                <i>Service Market</i></h2>
            <p>
                <i>Síguenos en</i>
                <br />
                <i>Facebook y </i>
                <br />
                <i>Twitter </i>
            </p>
            <div class="da-img">
                <img src="@Url.Content("~/Images/3.png")" alt="image01" />
            </div>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </nav>
    </div>
    <!--/da-slider-->
</div>

<br />



<div class="row-fluid purchase">
    <span>Búsqueda de Servicios</span>
    <div class="form-inline">
        <div class="input-append">
            <input id="txtSearchHome" class="input-xxlarge" type="text" placeholder="Buscar en la página">
            <button type="submit" class="btn-u btn-u-orange"><i class="icon-search icon-white"></i></button>
        </div>
        <a href="#advanced" role="button" data-toggle="modal" class="btn-u btn-u-orange btn-large">Búsqueda Avanzada</a>
    </div>

</div>



<br />

<div id="advanced" class="modal hide fade" tabindex="-1" data-refresh="false" role="dialog" aria-labelledby="advancedSort" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <ul class="nav nav-pills pull-right">
            <li class="active">
                <a href="#date" data-toggle="pill">Categorias</a>
            </li>
            <li><a href="#relevance" data-toggle="pill">Descripción</a></li>
            <li><a href="#dealership" data-toggle="pill">Ubicación</a></li>
        </ul>
        <h4>Búsqueda Avanzada</h4>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="tab-content">
                <div class="tab-pane active" id="date">
                    <form>

                        <div class="controls controls-row">
                            @Html.DropDownList("CAT_Id", (IEnumerable<SelectListItem>)ViewBag.Categories, "Selecione la categoría", new { @class = "span6" })
                            @Html.DropDownList("SBS_Id", (IEnumerable<SelectListItem>)ViewBag.SubCategories, "Selecione la Subcategoría", new { @class = "span6" })

                        </div>
                        <input type="button" value="Buscar" data-val="1" class="btn-u btn btn-warning SearchButton" />

                    </form>
                </div>
                <div class="tab-pane" id="relevance">
                    <form>
                        <div class="controls controls-row">
                            <input type="text" id="descriptioninput" class="span12" placeholder="Descripcion, Palabras Clave, Otros">
                        </div>
                        <input type="button" value="Buscar" data-val="2" class="btn-u btn btn-warning SearchButton" />
                    </form>
                </div>
                <div class="tab-pane" id="dealership">
                    <form>

                        <div class="controls controls-row">
                            <input type="text" id="placeinput" class="span12" placeholder="Lugar, Ciudad , Ubicación">
                        </div>
                        <input type="button" value="Buscar" data-val="3" class="btn-u btn btn-warning SearchButton" />

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Anuncios Table with pagination-->
<div style="width: 100%" id="firstSearch">
    <table class="table-hover" style="width: 100%">
        <thead>
        </thead>
        <tbody id="anunciosAvailable">
        </tbody>
        <tfoot>
            <tr>
                <td colspan="1">
                    <div class="holder" style="float: left">
                    </div>
                </td>
            </tr>
        </tfoot>

    </table>
</div>

<div style="width: 100%" id="SecondSearch">
    <table class="table-hover" style="width: 100%">
        <thead>
        </thead>
        <tbody id="SearchData">
        </tbody>
        <tfoot>
            <tr>
                <td colspan="1">
                    <div class="holder" style="float: left">
                    </div>
                </td>
            </tr>
        </tfoot>

    </table>
</div>


<div id="divNoAnunciosFound" class="bold large span12" style="padding: 5px; display: none;">
    No se obtuvieron resultados.
</div>


<!--/slider-->
<!--=== End Slider ===-->
<script src="~/Scripts/SMA.js"></script>
<script src="~/Scripts/knockout-2.2.0.js"></script>

<script type="text/javascript">
    jQuery(function () {
        Index.initParallaxSlider();
        HOME.GetServices('@Url.Action("GetServices", "Home")');
        HOME.SearchKey();
        HOME.ChangeCategory("CAT_Id", '@Url.Action("GetSubCategories", "SubCategoriaServicio")');
        $(".SearchButton").click(function () {
            var attr = $(this).attr('data-val');
            HOME.CallFilter(attr, '@Url.Action("GetInformationAnuncios", "Anuncios")');
        });
    });

    function CheckVisibleProjects() {
        var rows = jQuery('#anunciosAvailable > tr');
        if (rows.filter(':hidden').size() == rows.length) {
            jQuery('#divNoAnunciosFound').fadeIn(1000);
        }
        else {
            jQuery('#divNoAnunciosFound').hide();
        }
    }

    function SeeAnuncios(anuncioid) {
        var url = '@Url.Action("Details", "Anuncios")' + "/" + anuncioid;
        window.location = url;
    }

    function TakeService(anuncioid) {
        debugger;
        var titulo = $("#btnTakeService" + anuncioid).attr("data-titulo");
        var nombre = $("#btnTakeService" + anuncioid).attr("data-nombre");
        HOME.TakeService(anuncioid, '@Url.Action("TakeService", "SolicitudServicio")', nombre, titulo);
    }

</script>
