@model SMAWeb.Models.PA_Paises

@{
    ViewBag.Title = "Create";
}

<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Crear País</h3>
            </div>

            <div class="message">
            </div>

            @using (Ajax.BeginForm("Create", "Paises", new AjaxOptions { HttpMethod = "Post", OnSuccess = "CreatePaises" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

   
                @Html.HiddenFor(model => model.PA_Id)
                <div class="editor-label">
                    @Html.LabelFor(model => model.PA_Descripcion)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.PA_Descripcion, new { @placeholder = "Nombre del País", @class = "input-large" })

                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.REG_Id)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("REG_Id", String.Empty)

                </div>

                <p>
                    <input type="submit" value="Crear" class="btn-u" />
                </p>
                
                <ul style="list-style: none;">
                    <li>
                        @Html.ValidationMessageFor(model => model.PA_Descripcion)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(model => model.REG_Id)
                    </li>
                </ul>
    
            }

            <div>
                @Html.ActionLink("Regresar", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
</div>
<script>
    function CreatePaises(data) {
        var Titulo = 'Creación de Países';
        var Mensaje = '';
        var TipoAlerta = '';
        if (data.wasSuccess) {
            Mensaje = 'Se ha registrado satisfactoriamente los datos ingresados.';
            TipoAlerta = 'alert-success';
        }
        else {
            Mensaje = 'Hubo un error al registrar los datos. Por favor verifique.';
            TipoAlerta = 'alert-error';
        }

        $(".message").prepend('<div class="alert ' + TipoAlerta + ' fade in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><strong><p>' + Titulo + '</p></strong><p>' + Mensaje + '</p></div>');
        $('.alert').alert();
        $('.alert').fadeOut(3000);

    };
</script>
