<!-- Menu -->
<div class="navbar">
    <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <!-- /nav-collapse -->
        <div class="nav-collapse collapse">
            <ul class="nav top-2">
                <li class="active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Service Market
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "Anuncios")"><i class="icon-book"></i>&nbsp;Anuncios Publicados</a></li>
                        <li><a href="@Url.Action("Index", "SolicitudServicio")"><i class="icon-briefcase"></i>&nbsp;Servicios Solicitados</a></li>
                    </ul>
                    <b class="caret-out"></b>
                </li>
                <li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Catálogos
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "CategoriaServicio")"><i class="icon-tag"></i>&nbsp;Categoría</a></li>
                        <li><a href="@Url.Action("Index", "SubCategoriaServicio")"><i class="icon-tags"></i>&nbsp;SubCategoría</a></li>
                        <li><a href="@Url.Action("Index", "FAQ")"><i class="icon-comment"></i>&nbsp;FAQ's</a></li>
                        <li><a href="@Url.Action("Index", "Membresia")"><i class="icon-user"></i>&nbsp;Membresía</a></li>
                        <li><a href="@Url.Action("Index", "BlackList")"><i class="icon-remove"></i>&nbsp;Black List</a></li>
                        @*<li><a href="@Url.Action("Index", "Paises")">&nbsp;Países</a></li>
                        <li><a href="@Url.Action("Index", "Region")">&nbsp;Región</a></li>*@
                    </ul>
                    <b class="caret-out"></b>
                </li>

                @*<li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Solicitudes de Servicio
                               
                                    <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        
                    </ul>
                    <b class="caret-out"></b>
                </li>*@

                <li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administración
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "Company")"><i class="icon-home"></i>&nbsp;Compañía</a></li>
                        <li><a href="@Url.Action("Index", "Contactos")"><i class="icon-envelope"></i>&nbsp;Contactos</a></li>
                    </ul>
                    <b class="caret-out"></b>
                </li>
                 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                    class="icon-comment"></span>Chats <span class="label label-primary">42</span>
                </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="label label-warning">7:00 AM</span>Hi :)</a></li>
                        <li><a href="#"><span class="label label-warning">8:00 AM</span>How are you?</a></li>
                        <li><a href="#"><span class="label label-warning">9:00 AM</span>What are you doing?</a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="text-center">View All</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                    class="icon-envelope"></span>Inbox <span class="label label-info">32</span>
                </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="label label-warning">4:00 AM</span>Favourites Snippet</a></li>
                        <li><a href="#"><span class="label label-warning">4:30 AM</span>Email marketing</a></li>
                        <li><a href="#"><span class="label label-warning">5:00 AM</span>Subscriber focused email
                            design</a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="text-center">View All</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                    class="icon-user"></span>Admin <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Content("~/UserProfile/EditUser")"><span class="icon-user"></span>@User.Identity.Name.ToString()</a></li>
                       @* <li><a href="#"><span class="icon-cog"></span>Settings</a></li>*@
                        <li>

                       @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm",  }))
                        {
                            @Html.AntiForgeryToken()
                            <a  href="javascript:document.getElementById('logoutForm').submit()"><span class="icon-off"></span>Cerrar sesión</a>
                        }
                        </li>
                    </ul>
                </li>
            </ul>
      
        </div>
        <!-- /nav-collapse -->
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
