<!-- Menu -->
<div class="navbar">
    <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <!-- /nav-collapse -->
        <div class="nav-collapse collapse">
            <ul class="nav top-2">
                <li class="active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Catálogos
                               
                                    <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "CategoriaServicio")">&nbsp;Categoría</a></li>
                        <li><a href="@Url.Action("Index", "SubCategoriaServicio")">&nbsp;SubCategoría</a></li>
                        <li><a href="@Url.Action("Index", "FAQ")">&nbsp;FAQ's</a></li>
                        <li><a href="@Url.Action("Index", "Membresia")">&nbsp;Membresía</a></li>
                        @*<li><a href="@Url.Action("Index", "Paises")">&nbsp;Países</a></li>
                        <li><a href="@Url.Action("Index", "Region")">&nbsp;Región</a></li>*@
                    </ul>
                    <b class="caret-out"></b>
                </li>
                <li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Anuncios
                               
                                    <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "Anuncios")">Anuncios Publicados</a></li>
                    </ul>
                    <b class="caret-out"></b>
                </li>
                <li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Solicitudes de Servicio
                               
                                    <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "SolicitudServicio")">Servicios Solicitados</a></li>
                    </ul>
                    <b class="caret-out"></b>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administración
                               
                                    <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "Company")">&nbsp;Compañía</a></li>
                        <li><a href="@Url.Action("Index", "Contactos")">&nbsp;Contactos</a></li>
                    </ul>
                    <b class="caret-out"></b>
                </li>
            </ul>
        </div>
        <!-- /nav-collapse -->
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
