@model SMAWeb.Models.FAQs

@{
    ViewBag.Title = "Create";
}


<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Crear FAQ</h3>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                
                <div class="editor-label">
                    @Html.LabelFor(model => model.FAQ_Id)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.FAQ_Id, new { @placeholder = "Código FAQ", @class = "input-xxlarge" })
                    @Html.ValidationMessageFor(model => model.FAQ_Id)
                </div>
                
                
                <div class="editor-label">
                    @Html.LabelFor(model => model.FAQ_Question)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.FAQ_Question, new { @placeholder = "Pregunta", @class = "input-xxlarge" })
                    @Html.ValidationMessageFor(model => model.FAQ_Question)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.FAQ_Answer)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.FAQ_Answer, new { @placeholder = "Respuesta", @class = "input-xxlarge" })
                    @Html.ValidationMessageFor(model => model.FAQ_Answer)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.FAQ_Status)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("FAQ_Status", String.Empty)
                    @Html.ValidationMessageFor(model => model.FAQ_Status)
                </div>
                <p>
                    <input type="submit" value="Crear" class="btn-u" />
                </p>
   
            }

            <div>
                @Html.ActionLink("Regresar", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
</div>
