@model SMAWeb.Models.FAQs

@{
    ViewBag.Title = "Create";
}

<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Crear FAQ</h3>
            </div>


            
            <div class="message">
            </div>

            @using (Ajax.BeginForm("Create", "FAQ", new AjaxOptions { HttpMethod = "Post", OnSuccess = "CreateFAQ" }))
            {
                 @Html.AntiForgeryToken()
                 @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.FAQ_Id)
                <div class="editor-label">
                    @Html.LabelFor(model => model.FAQ_Question)
                </div>

                <div class="editor-field">
                    @Html.TextBoxFor(model => model.FAQ_Question, new { @placeholder = "Pregunta", @class = "input-xxlarge" })

                </div>



                <div class="editor-label">
                    @Html.LabelFor(model => model.FAQ_Answer)
                </div>

                <div class="editor-field">
                    @Html.TextAreaFor(model => model.FAQ_Answer, new { @placeholder = "Respuesta", @class = "input-xxlarge" })
                   
                </div>


                @Html.HiddenFor(model => model.FAQ_Status)
                <p>
                    <input type="submit" value="Crear" class="btn-u" />
                </p>
                


                <ul style="list-style: none;">
                    <li>
                        @Html.ValidationMessageFor(model => model.FAQ_Question)
                    </li>
                    <li> 
                        @Html.ValidationMessageFor(model => model.FAQ_Answer)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(model => model.FAQ_Status)
                    </li>
                </ul>
   
            }

            <div>
                @Html.ActionLink("Regresar", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
</div>
<script>
    function CreateFAQ(data) {
        var Titulo = 'Creación de FAQ';
        var Mensaje = '';
        var TipoAlerta = '';
        debugger;
        if (data.wasSuccess) {
            Mensaje = 'Se ha registrado satisfactoriamente los datos ingresados.';
            TipoAlerta = 'alert-success';
        }
        else {
            Mensaje = 'Hubo un error al registrar los datos. Por favor verifique.';
            TipoAlerta = 'alert-error';
        }

        $(".message").prepend('<div class="alert ' + TipoAlerta + ' fade in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><strong><p>' + Titulo + '</p></strong><p>' + Mensaje + '</p></div>');
        $('.alert').alert();
        $('.alert').fadeOut(3000);
    };
</script>