@model SMAWeb.Models.MT_MultimediaTipos

@{
    ViewBag.Title = "Create";
}

<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Crear Tipo de Multimedios</h3>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

   
                @Html.HiddenFor(model => model.MT_Id)

                <div class="editor-label">
                    @Html.LabelFor(model => model.MT_Descripcion)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.MT_Descripcion)
                    @Html.ValidationMessageFor(model => model.MT_Descripcion)
                </div>

                <p>
                    <input type="submit" value="Create" class="btn-u" />
                </p>
  
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
</div>
