@model SMAWeb.Models.MT_MultimediaTipos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MT_MultimediaTipos</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MT_Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MT_Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MT_Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MT_Descripcion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
