@model IEnumerable<SMAWeb.Models.MT_MultimediaTipos>

@{
    ViewBag.Title = "Index";
}


<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Formulario Tipo de Multimedios</h3>
            </div>


            <p>
                @Html.ActionLink("Nuevo", "Create")
            </p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MT_Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MT_Descripcion)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MT_Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MT_Descripcion)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.MT_Id }) |
            @Html.ActionLink("Detalles", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
