@model SMAWeb.Models.RW_Reviews

@{
    ViewBag.Title = "Create";
}

<script src="~/Scripts/raty-2.5.2/lib/jquery.raty.min.js"></script>
<link href="~/Content/Rating.css" rel="stylesheet" />

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RW_Reviews</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.RW_Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RW_Id)
            @Html.ValidationMessageFor(model => model.RW_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SS_Id, "SS_SolicitudServicio")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SS_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.SS_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RW_Comentario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RW_Comentario)
            @Html.ValidationMessageFor(model => model.RW_Comentario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RW_Fecha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RW_Fecha)
            @Html.ValidationMessageFor(model => model.RW_Fecha)
        </div>

        @* <div class="editor-label">
            @Html.LabelFor(model => model.RW_Rate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RW_Rate)
            @Html.ValidationMessageFor(model => model.RW_Rate)
        </div>*@
        <div class="editor-label">
            @Html.LabelFor(model => model.RW_Rate)
        </div>
        <div class="editor-field">
            <div class="demo">
                <div id="targetKeep-demo" class="target-demo" style="cursor: pointer; width: 120px;">

                    <input type="hidden" name="score">
                   
                </div>
                <div id="targetKeep-hint" class="hint">
                </div>
            </div>
             @Html.HiddenFor(model => model.RW_Rate)
            @Html.ValidationMessageFor(model => model.RW_Rate)
        </div>

        <div class="editor-field">
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

    var $rate = jQuery.noConflict();
    $rate(function () {
        $rate.fn.raty.defaults.path = '/Scripts/raty-2.5.2/lib/img';
        $rate('#targetKeep-demo').raty({
            cancel: true,
            target: '#targetKeep-hint',
            targetKeep: true,


            cancelOff: 'cancel-off-big.png',
            cancelOn : 'cancel-on-big.png',
            size     : 24,
            starHalf : 'star-half-big.png',
            starOff  : 'star-off-big.png',
            starOn   : 'star-on-big.png',
            click: function (score, evt) {
                $rate("#RW_Rate").attr("value",score);
            }
        });

    });


</script>
