@model SMAWeb.Models.RW_Reviews

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>RW_Reviews</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RW_Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RW_Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SS_SolicitudServicio.SS_Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SS_SolicitudServicio.SS_Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RW_Comentario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RW_Comentario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RW_Fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RW_Fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RW_Rate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RW_Rate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
