@model SMAWeb.Models.RW_Reviews

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>RW_Reviews</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RW_Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RW_Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SS_SolicitudServicio.SS_Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SS_SolicitudServicio.SS_Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RW_Comentario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RW_Comentario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RW_Fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RW_Fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RW_Rate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RW_Rate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
