@model SMAWeb.Models.CON_Contactenos

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CON_Contactenos</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CON_Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CON_Id)
            @Html.ValidationMessageFor(model => model.CON_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CON_Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CON_Nombre)
            @Html.ValidationMessageFor(model => model.CON_Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CON_Telefono)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CON_Telefono)
            @Html.ValidationMessageFor(model => model.CON_Telefono)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CON_Celular)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CON_Celular)
            @Html.ValidationMessageFor(model => model.CON_Celular)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CON_Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CON_Email)
            @Html.ValidationMessageFor(model => model.CON_Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CON_Mensaje)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CON_Mensaje)
            @Html.ValidationMessageFor(model => model.CON_Mensaje)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CON_Fecha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CON_Fecha)
            @Html.ValidationMessageFor(model => model.CON_Fecha)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
