@model SMAWeb.Models.CON_Contactenos

@{
    ViewBag.Title = "Contáctenos";
}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=es"></script>
<style>
    .page {
        background: none repeat scroll 0 0 white;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
        /*margin: 70px 0 0;*/
        padding: 30px 12% 80px;
    }

    #map-canvas {
        height: 400px;
    }
</style>
<br />
<div class="another-page">
    <div class="container-fluid">
        <div class="row-fluid">

            @*        <div class="span3">
                    <div class="headline">
                        <h3>Anuncios Recientes</h3>
                    </div>
                    <div class="posts">
                        <dl class="dl-horizontal">
                            <dt><a href="#">
                                <img src="~/Images/4.jpg" alt=""></a></dt>
                            <dd>
                                <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt><a href="#">
                                <img src="~/Images/11.jpg" alt=""></a></dt>
                            <dd>
                                <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
                            </dd>
                        </dl>

                    </div>
                </div>*@


            <!--/span9-->
            <div class="span6">
                <div class="headline">
                    <h3>Formulario de contacto</h3>
                </div>
                <div class="successmessage">
                </div>

                @using (Html.BeginForm())
                {

                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()



                    <h4>Por favor complete la información requerida y déjenos su mensaje. Pronto le estaremos contactando.</h4>

                    <br />

                    <div class="editor-label">
                        @Html.LabelFor(model => model.CON_Nombre)
                    </div>

                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.CON_Nombre, new { @placeholder = "Nombre", @class = "input-xlarge" }) <span class="color-red">*</span>
                    </div>



                    <div class="editor-label">
                        @Html.LabelFor(model => model.CON_Email)
                    </div>

                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.CON_Email, new { @placeholder = "Correo Electrónico", @class = "input-xlarge" }) <span class="color-red">*</span>

                    </div>



                    <div class="editor-label">
                        @Html.LabelFor(model => model.CON_Telefono)
                    </div>

                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.CON_Telefono, new { @placeholder = "Teléfono", @class = "input-xlarge" })
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.CON_Celular)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.CON_Celular, new { @placeholder = "Celular", @class = "input-xlarge" })
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.CON_Mensaje)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.CON_Mensaje, new { @placeholder = "Mensaje", @class = "input-xlarge" }) <span class="color-red">*</span>
                    </div>

                    <p id="req-field-desc"><span class="color-red">*</span>Indica que es un campo mandatorio en el formulario</p>

                    <br />

                    <div>
                        <ul style="list-style: none;">
                            <li>
                                @Html.ValidationMessageFor(model => model.CON_Nombre)
                            </li>
                            <li>
                                @Html.ValidationMessageFor(model => model.CON_Email)
                            </li>
                            <li>
                                @Html.ValidationMessageFor(model => model.CON_Telefono)
                            </li>
                            <li>
                                @Html.ValidationMessageFor(model => model.CON_Celular)
                            </li>
                            <li>
                                @Html.ValidationMessageFor(model => model.CON_Mensaje)
                            </li>
                        </ul>
                    </div>

                }
                <br />

                <input type="submit" onclick="Contactenos()" value="Contactar" class="btn-u" id="submit-button" />


            </div>
            <div class="span6">

                @*MAPA DE GOOGLE MAPS - UBICACION*@
                @*<div class="headline">
                        <h3>Nuestra Ubicación</h3>
                    </div>
                    <div id="map-canvas"></div>*@

            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/SMA.js"></script>
<script type="text/javascript">

@*
    var map = null;
    var markersArray = [];
    var marker;
    //default load position

    function initialize() {


        var latlng = new google.maps.LatLng(39.4881, -75.0000);

        var mapOptions = {
            zoom: 15,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }

        var image = 'favicon.ico';
        var urlHelper = new UrlHelper();
        image = urlHelper.urlImage(image);

        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        var marker = new google.maps.Marker({
            position: latlng,

            animation: google.maps.Animation.DROP,
            map: map,
            title: "Service Market Panamá",
            icon: image
        });




        //showRoutePath_1();
    }
    // End initialize function
    //remove all markers from map
    function clearOverlays() {
        if (markersArray) {
            for (var i in markersArray) {
                markersArray[i].setMap(null);
            }
        }
    }

    //remove specific marker from map
    function removeMarker(myMark) {
        if (markersArray) {
            for (var i in markersArray) {
                if (myMark == markersArray[i]['number']) {
                    console.log(markersArray[i]['number']);
                    markersArray[i].setMap(null);
                    markersArray.splice(i, 1); //removes marker from array
                    break;
                }
            }
        }
    }

    //check if marker already exist on map
    function checkMarker(number) {
        if (markersArray) {
            for (var i in markersArray) {
                if (markersArray[i]['number'] == number)
                    return true;
            }
        } else
            return false;
    }

    // Mapping variables
    var global_strokeColor = "#ED00FF";
    var global_strokeOpacity = 0.7;
    var global_strokeWeight = 6;

    //Route 1
    function showRoutePath_1() {
        //check if marker1 already on map if true do nothing
        if (checkMarker(1))
            return;
        position = new google.maps.LatLng(8.43581, -82.43475);
        var infowindow = new google.maps.InfoWindow({
            content: "Service Market Panamá"
        });
        marker = new google.maps.Marker({
            animation: google.maps.Animation.DROP,
            position: position,
            map: map
        });

        marker['number'] = 1;
        //google.maps.event.addListener(marker, 'click', toggleBounce);
        google.maps.event.addListener(marker, 'click', function () {
            infowindow.open(map, marker);
        });

        markersArray.push(marker);

        //open infowWindow with marker
        infowindow.open(map, marker);
        //setTimeout(function () { infowindow.close(); }, 5000);


    }

    function toggleBounce() {

        if (marker.getAnimation() != null) {
            marker.setAnimation(null);
        } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
        }
    }

    google.maps.event.addDomListener(window, 'load', initialize);

*@

    function Contactenos() {
        if ($('#CON_Nombre').val() == "" || $('#CON_Email').val() == "" || $('#CON_Mensaje').val() == "") {
            $.gritter.add({
                title: 'Datos Insuficientes',
                text: 'Para poder enviar su mensaje es necesario que complete debidamente todos los campos requeridos (*). Gracias por preferirnos.'
            });
        }
        else {
            CONTACTOS.Create('@Url.Action("Create", "Contactos")', $('#CON_Nombre').val(), $('#CON_Telefono').val(), $('#CON_Celular').val(), $('#CON_Email').val(), $('#CON_Mensaje').val())
        }
    }

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
