@model SMAWeb.Models.CON_Contactenos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CON_Contactenos</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CON_Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CON_Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CON_Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CON_Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CON_Telefono)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CON_Telefono)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CON_Celular)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CON_Celular)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CON_Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CON_Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CON_Mensaje)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CON_Mensaje)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CON_Fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CON_Fecha)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
