@model SMAWeb.Models.CON_Contactenos

@{
    ViewBag.Title = "Edit";
}

<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Editar Contactos</h3>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

              
                   
                @Html.HiddenFor(model => model.CON_Id)
                   
                <div class="editor-label">
                    @Html.LabelFor(model => model.CON_Nombre)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.CON_Nombre, new { @placeholder = "Nombre Completo", @class = "input-xxlarge" })
                    @Html.ValidationMessageFor(model => model.CON_Nombre)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.CON_Telefono)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.CON_Telefono, new { @placeholder = "Teléfono", @class = "input-xxlarge" })
                    @Html.ValidationMessageFor(model => model.CON_Telefono)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.CON_Celular)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.CON_Celular, new { @placeholder = "Celular", @class = "input-large" })
                    @Html.ValidationMessageFor(model => model.CON_Celular)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.CON_Email)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.CON_Email, new { @placeholder = "Correo Electrónico", @class = "input-xxlarge" })
                    @Html.ValidationMessageFor(model => model.CON_Email)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.CON_Mensaje)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.CON_Mensaje, new { @placeholder = "Mensaje", @class = "input-xxlarge" })
                    @Html.ValidationMessageFor(model => model.CON_Mensaje)
                </div>

                   
                @Html.HiddenFor(model => model.CON_Fecha)
                   

                <p>
                    <input type="submit" value="Guardar" class="btn-u" />
                </p>
                
            }

            <div>
                @Html.ActionLink("Regresar", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
</div>
