@model SMAWeb.Models.CON_Contactenos
@{
    ViewBag.Title = "Responder a un contacto";
}
<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Editar Contactos</h3>
            </div>

            @using (Html.BeginForm())
            {
 @Html.AntiForgeryToken()
 @Html.ValidationSummary(true)  
                <div id="CON_Id">
 @Html.HiddenFor(model => model.CON_Id)
                   </div>                 
                



                <div class="span5">
                    <div class="form-horizontal">
                        <div class="control-group" style="margin-bottom: 0px;">
                            <label class="control-label"><strong>@Html.DisplayNameFor(model => model.CON_Nombre)</strong></label>
                            <div class="controls" id="txtNombre">
                                @Html.DisplayFor(model => model.CON_Nombre)
                            </div>
                        </div>
                        <div class="control-group" style="margin-bottom: 0px;">
                            <label class="control-label"><strong>@Html.DisplayNameFor(model => model.CON_Telefono)</strong></label>
                            <div class="controls">
                                @Html.DisplayFor(model => model.CON_Telefono)
                            </div>
                        </div>
                        <div class="control-group" style="margin-bottom: 0px;">
                            <label class="control-label"><strong>@Html.DisplayNameFor(model => model.CON_Celular)</strong></label>
                            <div class="controls">
                                @Html.DisplayFor(model => model.CON_Celular)
                            </div>
                        </div>
                        <div class="control-group" style="margin-bottom: 0px;">
                            <label class="control-label"><strong>@Html.DisplayNameFor(model => model.CON_Email)</strong></label>
                            <div class="controls" id="txtEmail">
                                @Html.DisplayFor(model => model.CON_Email)
                            </div>
                        </div>
                        <div class="control-group" style="margin-bottom: 0px;">
                            <label class="control-label"><strong>@Html.DisplayNameFor(model => model.CON_Fecha)</strong></label>
                            <div class="controls">
                                @Html.DisplayFor(model => model.CON_Fecha)
                            </div>
                        </div>
                        <div class="control-group" style="margin-bottom: 0px;">
                            <label class="control-label"><strong>@Html.DisplayNameFor(model => model.CON_Mensaje)</strong></label>
                            <div class="controls">
                                @Html.DisplayFor(model => model.CON_Mensaje)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="editor-label">
                        <label>
                       <strong>Respuesta</strong></label>
                    </div>
                    <div class="editor-field">
                        @Html.TextArea("txtRespuesta", new { @placeholder = "Respuesta", @class = "span12", @rows = "8" })
                    </div>
                    <p>
                    
                </p>
                </div>
                   
                


                <div class="span12">
                
                </div>
            }
            <input type="submit" value="Responder" id="btnResponder" class="btn-u pull-right" />
            <div class="span12">
                <br />
                @Html.ActionLink("Regresar", "Index")
            </div>
            

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
            
        </div>
    </div>
</div>
<script>
    jQuery(function () {
        jQuery("#btnResponder").click(function () {
            
            var nombre = jQuery("#txtNombre").text().trim();
            var email = jQuery("#txtEmail").text().trim();
            var respuesta = jQuery("#txtRespuesta").val();
            var id = jQuery('#CON_Id input').val();


            jQuery.ajax({
                url: '@Url.Action("RespuestaContacto", "Contactos")',
                type: 'post',
                data: { id: id, nombre : nombre, correo : email, respuesta : respuesta },
                beforeSend: function () {
                    showProgress('@Url.Content("~/images/loading.gif")');
                },
                complete: function (data) {
                    hideProgress();
                },
                success: function (data) {
                    window.location = data.url;
                 },
                 error: function (xhr) {
                     if (xhr.status == 403) {
                         var response = $.parseJSON(xhr.responseText);
                         window.location = response.LogOnUrl;
                     }
                     else {
                         alert(xhr.responseText, 'Ha ocurrido un error.');
                     }
                 }
            });

        });
    });

    
    var $ki = jQuery.noConflict();
    function showProgress(loadingImgSrc) {
        $ki.blockUI({
            message: '<p>Por favor espere mientra se procesa la solicitud...</p><img src="' + loadingImgSrc + '" /> <br>',
            css: {
                width: '450px',
                border: 'none',
                padding: '15px',
                backgroundColor: '#fafafa',
                'border-radius': '10px',
                opacity: .95,
                color: '#000',
                'font-size': '18px',
                'box-shadow': '0px 0px 12px rgba(0,0,0,.6)',
                'z-index': '9999'
            }
        });
    }

    function hideProgress() {
        $ki.unblockUI();
    }

</script>
