@model IEnumerable<SMAWeb.Models.CON_Contactenos>

@{
    ViewBag.Title = "Index";
}

<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Formulario de Compañia</h3>
            </div>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CON_Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CON_Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CON_Telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CON_Celular)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CON_Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CON_Mensaje)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CON_Fecha)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CON_Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CON_Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CON_Telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CON_Celular)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CON_Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CON_Mensaje)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CON_Fecha)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Detalles", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
