@model SMAWeb.Models.UserProfile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>UserProfile</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Details)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Details)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PA_Paises.PA_Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PA_Paises.PA_Descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MB_Membresia.MP_Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MB_Membresia.MP_Descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ST_Estatus.ST_Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ST_Estatus.ST_Descripcion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
