@model SMAWeb.Models.UserProfile
@{
    ViewBag.Title = "Editar Perfil de Usuario";
}

<link href="~/Content/FileUpload/jquery.fileupload-ui.css" rel="stylesheet" />
<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Editar Perfil</h3>
            </div>
            <div class="span4">
                <div class="thumbnail-style">
                    <a class="fancybox-button zoomer" data-rel="fancybox-button"></a>
                    <div class="overlay-zoom">
                        <a class="fancybox-button zoomer" data-rel="fancybox-button">
                            <img src="@Url.Action("GetUserImage", "UserProfile", new { id = WebSecurity.CurrentUserId })">
                        </a>
                    </div>
                </div>
                <form action="@Url.Action("UploadFiles", "UserProfile")" method="post" enctype="multipart/form-data">


                    <div class="upload uploaded-enabled" >
                        <input type="button" class="uploadButton btn-u btn-u-orange" value="Buscar" />
                        <input type="file" name="upload" accept="image/*" id="fileUpload" />
                        <span class="fileName">Seleccione..</span>
                    </div>
                    <input type="submit" class="uploadButton btn-u btn-u-orange uploaded-enabled" value="Cargar"  />

                    <div class="alert alert-error noperfil" style="display:none">
                        <i class="glyphicons icon-user"></i>
                        <strong>Perfil Incompleto!</strong> Completa tus datos y procede a cargar tu imagen de perfil
                    </div>
                </form>
            </div>
            <div class="span6">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model => model.UserName)
                    <div class="row-fluid">
                        <div class="span3">@Html.LabelFor(model => model.UserName, new { @class = "control-label" })</div>
                        <div class="span3">
                            @Html.DisplayFor(model => model.UserName)

                        </div>
                    </div>



                    <div class="row-fluid">
                        <div class="span3">@Html.LabelFor(model => model.Name)</div>
                        <div class="span3">
                            @Html.TextBoxFor(model => model.Name, new { @placeholder = "Nombre Completo", @class = "input-xxlarge" })

                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span3">@Html.LabelFor(model => model.NumeroTelefono)</div>
                        <div class="span3">
                            @Html.TextBoxFor(model => model.NumeroTelefono, new { @placeholder = "Número de Teléfono", @class = "input-xxlarge" })

                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span3">@Html.LabelFor(model => model.Details)</div>
                        <div class="span3">
                            @Html.TextBoxFor(model => model.Details, new { @placeholder = "Profesión", @class = "input-xxlarge" })

                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span3">@Html.LabelFor(model => model.Address)</div>
                        <div class="span3">
                            @Html.TextBoxFor(model => model.Address, new { @placeholder = "Dirección", @class = "input-xxlarge" })

                        </div>
                    </div>



                    <div class="row-fluid">
                        <div class="span3">@Html.LabelFor(model => model.City)</div>
                        <div class="span3">
                            @Html.TextBoxFor(model => model.City, new { @placeholder = "Ciudad", @class = "input-xxlarge" })

                        </div>
                    </div>



                    <div class="row-fluid">
                        <div class="span3">@Html.LabelFor(model => model.PA_Id)</div>
                        <div class="span3">
                            @Html.DropDownList("PA_Id", String.Empty)

                        </div>
                    </div>



                    <div class="row-fluid">
                        <div class="span12">
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.MP_MemberShipId, "MB_Membresia")
                    @Html.HiddenFor(model => model.ST_Id, "ST_Estatus")





                    <div>
                        <ul style="list-style: none;">
                            <li>
                                @Html.ValidationMessageFor(model => model.UserName)
                            </li>
                            <li>
                                @Html.ValidationMessageFor(model => model.Name)
                            </li>
                            <li>
                                @Html.ValidationMessageFor(model => model.NumeroTelefono)
                            </li>
                            <li>
                                @Html.ValidationMessageFor(model => model.Details)
                            </li>
                            <li>
                                @Html.ValidationMessageFor(model => model.Address)
                            </li>
                            <li>
                                @Html.ValidationMessageFor(model => model.City)
                            </li>
                            <li>
                                @Html.ValidationMessageFor(model => model.PA_Id)
                            </li>

                        </ul>
                    </div>



                    <p>
                        <input type="submit" value="Guardar" class="btn-u btn-large" />
                        <a href="@Url.Content("~/Account/Manage")" class="btn-u btn-large">Cambiar Contraseña</a>
                    </p>
                }
            </div>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
</div>
<script>


    $('#file').change(function (e) {
        debugger;
        var fileCount = e.originalEvent.target.files.length;
        if (fileCount > 0)
            $('#btnIniciarCarga').removeAttr('disabled');
        else
            $('#btnIniciarCarga').attr('disabled', 'disabled');
    });

    debugger;
    if ($("#UserName").val() != "" && $("#UserName").val() != null && $("#UserName").val() != undefined
        && $("#Name").val() != "" && $("#Name").val() != null && $("#Name").val() != undefined) {

        $(".uploaded-enabled").show();
    }
    else
    {
        $(".uploaded-enabled").hide();
        $(".noperfil").show();

    }

</script>


<style>
    div.upload {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        display: inline-block;
        height: 30px;
        padding: 3px 40px 3px 3px;
        position: relative;
        width: auto;
    }

        div.upload:hover {
            opacity: 0.95;
        }

        div.upload input[type="file"] {
            display: input-block;
            width: 100%;
            height: 30px;
            opacity: 0;
            cursor: pointer;
            position: absolute;
            left: 0;
        }

    .uploadButton {
        background-color: #425F9C;
        border: none;
        border-radius: 3px;
        color: #FFF;
        cursor: pointer;
        display: inline-block;
        height: 30px;
        margin-right: 15px;
        width: auto;
        padding: 0 20px;
        box-sizing: content-box;
    }

    .fileName {
        font-family: Arial;
        font-size: 14px;
    }

    .upload + .uploadButton {
        height: 38px;
    }
</style>