@model SMAWeb.Models.CR_ComentarioReview

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CR_ComentarioReview</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CR_Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CR_Id)
            @Html.ValidationMessageFor(model => model.CR_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RW_Id, "RW_Reviews")
        </div>
        <div class="editor-field">
            @Html.DropDownList("RW_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.RW_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CR_Comentario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CR_Comentario)
            @Html.ValidationMessageFor(model => model.CR_Comentario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "UserProfile")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ST_Id, "ST_Estatus")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ST_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.ST_Id)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
