@model IEnumerable<SMAWeb.Models.CR_ComentarioReview>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CR_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RW_Reviews.RW_Comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CR_Comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ST_Estatus.ST_Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CR_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RW_Reviews.RW_Comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CR_Comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ST_Estatus.ST_Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
