@model SMAWeb.Models.LocalPasswordModel



@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <br />
    <div class="container">
        <div class="row-fluid margin-bottom-10">

            <div class="another-page">
                <div class="headline">
                    <h3>Cambiar Contraseña</h3>
                </div>

                
                <ol>
                    <li>
                        @Html.LabelFor(m => m.OldPassword)
                        @Html.PasswordFor(m => m.OldPassword)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.NewPassword)
                        @Html.PasswordFor(m => m.NewPassword)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword)
                    </li>
                </ol>
                <input type="submit" value="Cambiar contraseña" class="btn-u" />
            </div>
        </div>
    </div>
}
