@model SMAWeb.Models.LocalPasswordModel

<p>
    Usted no tiene una contraseña local para este sitio. Añada una contraseña para que pueda iniciar sesión sin una conexión externa.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="reg-page">
            <div class="headline">
                <h3>Establecer contraseña</h3>
            </div>

        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Establecer contraseña" />
   </div></div></div>
}
