@{
    ViewBag.Title = "Forgot Password";
}

<script src="~/Scripts/Bootstrap/bootstrap-collapse.js"></script>
@*<link href="~/Content/bootstrap-helper.css" rel="stylesheet" />*@

<div class="breadcrumbs margin-bottom-50">
    <div class="container">
        <h3 class="color-blue pull-left">Recuperación de Credenciales</h3>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Inicio</a> <span class="divider">/</span></li>
            <li><a href="@Url.Action("Index", "Home")" >Página</a> <span class="divider">/</span></li>
            <li class="active">Login</li>
        </ul>
    </div>
    <!--/container-->
</div>
<!--/breadcrumbs-->

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <div class="log-page">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <table>
                        <tr>
                            <td>@Html.Label("Usuario", new { @for = "UserName" })</td>
                            <td>@Html.TextBox("UserName", null, new { @placeholder = "Ingrese Usuario", @class = "input-large" })</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <span style="color: red;">@TempData["Message"]</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" class="btn-u" value="Recuperar" />
                            </td>
                        </tr>
                    </table>    
                }
            </div>
        </div>
    </div>
</div>
