@model SMAWeb.Models.LoginModel
@{
    ViewBag.Title = "Olvidó contraseña";
}

<script src="~/Scripts/Bootstrap/bootstrap-collapse.js"></script>
@*<link href="~/Content/bootstrap-helper.css" rel="stylesheet" />*@

<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="reg-page">
            <div class="headline">
                <h3>Olvidó su Contraseña</h3>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Correo Electrónico", @class = "input-xlarge" })
                    <br />
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div>
                    <input type="submit" class="btn-u pull-right" value="Recuperar" />
                </div>
@*<table>
                    <tr>
                        <td>@Html.Label("Usuario", new { @for = "UserName" })</td>
                        <td>@Html.TextBox("UserName", null, new { @placeholder = "Ingrese Usuario", @class = "input-large" })</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span style="color: red;">@TempData["Message"]</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" class="btn-u pull-right" value="Recuperar" />
                        </td>
                    </tr>
                </table> *@   
            }
        </div>
    </div>
</div>

