@model SMAWeb.Models.LoginModel

@{
    ViewBag.Title = "Inicio de Sesión";
}


<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Iniciar Sesión</h3>
            </div>


            <div class="container">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="log-page">
                            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)

                                <div id="divBlanco"></div>
                                <h3>Inicie sesión con su cuenta Service Market</h3>
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-user"></i></span>
                                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Correo Electrónico", @class = "span12" })
                                    <br />
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-lock"></i></span>
                                    @Html.PasswordFor(m => m.Password, new { @placeholder = "Contraseña", @class = "span12" })
                                    <br />
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                                <div class="controls form-inline">
                                    <label class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        Recordar mis datos</label>
                                    @* <button class="btn-u pull-right" type="submit">Login</button>*@
                                    <input class="btn-u pull-right" id="submit" type="submit" value="Iniciar Sesión" />
                                </div>
                                <hr />
                                <h4>¿Olvidó su contraseña?</h4>
                                <p>No se preocupe, <a class="color-green" href="@Url.Action("ForgotPassword", "Account")">haga clic aquí</a> para reinicializar su contraseña.</p>
                                <p>
                                    @Html.ActionLink("Regístrese", "Register", "Account",  new { @class = "color-green" }) si aún no tiene una cuenta.
                                </p> }
                        </div>

                    </div>

                    <div class="span6">
                        <div class="log-page">
                            <section class="social" id="socialLoginForm">
                                <h2>Utilice otras cuentas para iniciar sesión.</h2>
                                @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
                            </section>
                        </div>
                    </div>
                </div>
                <!--/row-fluid-->

                <div>
                </div>
            </div>
            <!--/container-->

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


@*<script>
    jQuery(document).ready(function () {
        //
        //jQuery('.validation-summary-errors').wrap('<div class="alert fade in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><strong><p></p></strong><p></p></div>').after('<div id="divBlanco"></div>');
        jQuery('.validation-summary-errors').addClass("alert alert-error");
    });

</script>*@