@model SMAWeb.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}



<p class="message-success">@ViewBag.StatusMessage</p>

@*<p>Usted ha iniciado sesión como <strong>@User.Identity.Name</strong>.</p>*@

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

@*<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
