@using Recaptcha
@model SMAWeb.Models.RegisterModel
@{
    ViewBag.Title = "Registro de Usuario";
}
<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">
        <div class="another-page">
            <div class="span7">

                <div class="headline">
                    <h3>Registro de Usuario</h3>
                </div>

                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
              
                    <div class="controls">

                        <label>Correo Electrónico <span class="color-red">*</span></label>
                        @Html.TextBoxFor(m => m.Email, new { @placeholder = "Correo Electrónico", @class = "span12" })
                    </div>

                    <div class="controls">
                        <div class="span6">
                            <label>Contraseña <span class="color-red">*</span></label>
                            @Html.PasswordFor(m => m.Password, new { @placeholder = "Contraseña", @class = "span12" })
                        </div>
                        <div class="span6">
                            <label>Confirmar Contraseña <span class="color-red">*</span></label>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirmar Contraseña", @class = "span12" })
                        </div>
                    </div>
                    <div class="controls">
                        @Html.Raw(Html.GenerateCaptcha())
                    </div>
                


                    <div>
                        <ul style="list-style: none;">
                            <li>
                                @Html.ValidationMessageFor(model => model.Email)
                            </li>
                            <li>
                                @Html.ValidationMessageFor(model => model.Password)
                            </li>
                            <li>
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </li>
                            <li>
                                @Html.ValidationMessageFor(model => model.AcceptTerms)
                            </li>
                        </ul>
                    </div>
                


                    <div class="controls form-inline">
                        <label class="checkbox">
                            @Html.CheckBoxFor(model => model.AcceptTerms)  &nbsp; He leído<a target="_blank" class="color-green" href="@Url.Action("Terminos", "Home")">&nbsp;Términos y Condiciones</a></label>
                        <input class="btn-u-orange btn-u pull-right" id="submitregister" type="submit" value="Registrarse" disabled="disabled">
                    </div>

                    <hr />

                    <p>¿Ya está registrado? Clic en <a href="@Url.Action("Login")" class="color-green">Iniciar Sesión</a> para ingresar a tu cuenta.</p>
                }
            </div>
            <div class="span5">

                @* <section class="social" id="socialLoginForm">*@

                <div class="headline">
                    <h3>Registro con Redes Sociales</h3>
                </div>

                <div class="span8 offset2">
                    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
                </div>
                @*</section>*@

            </div>

        </div>



    </div>
    <!--/row-fluid-->
</div>
<!--/container-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(function () {
        $('#AcceptTerms').click(function () {
            if ($(this).is(':checked')) {
                $('#submitregister').removeAttr('disabled');
            } else {
                $('#submitregister').attr('disabled', 'disabled');
            }
        });
    });

    $(document).ready(function () {
        debugger;
        if ($('#AcceptTerms').is(':checked')) {
            $('#submitregister').removeAttr('disabled');
        } else {
            $('#submitregister').attr('disabled', 'disabled');
        }
    });
</script>
