@model SMAWeb.Models.REG_Region

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>REG_Region</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REG_Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REG_Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REG_Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REG_Descripcion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
