@model IEnumerable<SMAWeb.Models.MB_Membresia>

@{
    ViewBag.Title = "Index";
}

<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Formulario de Membresía</h3>
            </div>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MP_MemberShipId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MP_Descripcion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MP_ExpiracionDays)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MP_MemberShipId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MP_Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MP_ExpiracionDays)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new {  id=item.MP_MemberShipId  }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
