@model SMAWeb.Models.ST_Estatus

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ST_Estatus</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ST_Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ST_Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ST_Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ST_Descripcion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
