@model SMAWeb.Models.CD_CategoriaServicio

@{
    ViewBag.Title = "Create";
}


<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Crear Categoría</h3>
            </div>

              <div class="message">
            </div>

            @using (Ajax.BeginForm("Create", "CategoriaServicio", new AjaxOptions { HttpMethod = "Post", OnSuccess = "CreateCategoria" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.CD_Id)
                    

                <div class="editor-label">
                    @Html.LabelFor(model => model.CD_Descripcion)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.CD_Descripcion, new { @placeholder = "Descripción de la Categoría", @class = "input-xxlarge" })

                </div>

                <p>
                    <input type="submit" value="Crear" class="btn-u" />
                </p>
                
                <ul style="list-style: none;">
                    <li>@Html.ValidationMessageFor(model => model.CD_Descripcion)
                    </li>
                </ul>
               
            }

            <div>
                @Html.ActionLink("Regresar", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }

        </div>
    </div>
</div>
@*INCLUIDO EN EL ARCHIVO SMA.JS*@
@*<script>
    function CreateCategoria(data) {
        var Titulo = 'Creación de Categoría';
        var Mensaje = '';
        var TipoAlerta = '';
        
        if (data.wasSuccess) {
            Mensaje = 'Se ha registrado satisfactoriamente los datos ingresados.';
            TipoAlerta = 'alert-success';
        }
        else {
            Mensaje = 'Hubo un error al registrar los datos. Por favor verifique.';
            TipoAlerta = 'alert-error';
        }

        $(".message").prepend('<div class="alert ' + TipoAlerta + ' fade in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><strong><p>' + Titulo + '</p></strong><p>' + Mensaje + '</p></div>');
        $('.alert').alert();
        $('.alert').fadeOut(3000);

    };
</script>*@