@model SMAWeb.Models.AN_Anuncios

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AN_Anuncios</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.AN_Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AN_Id)
            @Html.ValidationMessageFor(model => model.AN_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "UserProfile")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PA_Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PA_Id)
            @Html.ValidationMessageFor(model => model.PA_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SBS_Id, "SBS_SubCategoriaServicio")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SBS_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.SBS_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AN_Titulo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AN_Titulo)
            @Html.ValidationMessageFor(model => model.AN_Titulo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AN_Telefono)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AN_Telefono)
            @Html.ValidationMessageFor(model => model.AN_Telefono)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AN_Celular)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AN_Celular)
            @Html.ValidationMessageFor(model => model.AN_Celular)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AN_Descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AN_Descripcion)
            @Html.ValidationMessageFor(model => model.AN_Descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AN_Fecha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AN_Fecha)
            @Html.ValidationMessageFor(model => model.AN_Fecha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AN_FechaExpiracion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AN_FechaExpiracion)
            @Html.ValidationMessageFor(model => model.AN_FechaExpiracion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ST_Id, "ST_Estatus")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ST_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.ST_Id)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
