@model SMAWeb.Models.AN_Anuncios

@{
    ViewBag.Title = "Create";
}

<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Crear Anuncio</h3>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

    

                @Html.HiddenFor(model => model.AN_Id)
                @Html.HiddenFor(model => model.UserId, "UserProfile")
                <div class="editor-label">
                    @Html.LabelFor(model => model.PA_Id)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.PA_Id, new { @placeholder = "País", @class = "input-xxlarge" })
                    @Html.ValidationMessageFor(model => model.PA_Id)
                </div>
                
                <div class="editor-label">
                    @Html.LabelFor(model => model.SBS_Id)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("SBS_Id", String.Empty)
                    @Html.ValidationMessageFor(model => model.SBS_Id)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.AN_Titulo)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.AN_Titulo, new { @placeholder = "Título del Anuncio", @class = "input-xxlarge" })
                    @Html.ValidationMessageFor(model => model.AN_Titulo)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.AN_Telefono)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.AN_Telefono, new { @placeholder = "Teléfono", @class = "input-xlarge" })
                    @Html.ValidationMessageFor(model => model.AN_Telefono)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.AN_Celular)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.AN_Celular, new { @placeholder = "Celular", @class = "input-xlarge" })
                    @Html.ValidationMessageFor(model => model.AN_Celular)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.AN_Descripcion)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.AN_Descripcion, new { @placeholder = "Descripción del Anuncio", @class = "input-xxlarge" })
                    @Html.ValidationMessageFor(model => model.AN_Descripcion)
                </div>

              
                @Html.HiddenFor(model => model.AN_Fecha)
                
                @Html.HiddenFor(model => model.AN_FechaExpiracion)
                @Html.HiddenFor(model => model.ST_Id)
               

                <p>
                    <input type="submit" value="Crear Anuncio" class="btn-u" />
                </p>
   
            }

            <div>
                @Html.ActionLink("Regresar", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }

        </div>
    </div>
</div>
