@model SMAWeb.Models.AN_Anuncios

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>@Html.DisplayFor(model => model.AN_Titulo)</h3>
            </div>

            @Html.HiddenFor(model => model.AN_Id)
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.ST_Id)
            @Html.HiddenFor(model => model.AN_FechaExpiracion)
            <div class="row-fluid">
                <div class="span12">
                    <!-- Columna1 -->
                    <div class="span6">
                        <div id="main_area">
                            <!-- Slider -->
                            <div class="row">
                                <div class="span12" id="slider">
                                    <!-- Top part of the slider -->
                                    <div class="row">
                                        <div class="span12" id="carousel-bounding-box">
                                            <div id="myCarousel" class="carousel slide">
                                                <!-- Carousel items -->
                                                <div class="carousel-inner">
                                                    <div class="active item" data-slide-number="0">
                                                        <img src="http://placehold.it/770x300&text=one" />
                                                    </div>
                                                    <div class="item" data-slide-number="1">
                                                        <img src="http://placehold.it/770x300&text=two" />
                                                    </div>
                                                    <div class="item" data-slide-number="2">
                                                        <img src="http://placehold.it/770x300&text=three" />
                                                    </div>
                                                    <div class="item" data-slide-number="3">
                                                        <img src="http://placehold.it/770x300&text=four" />
                                                    </div>
                                                    <div class="item" data-slide-number="4">
                                                        <img src="http://placehold.it/770x300&text=five" />
                                                    </div>
                                                    <div class="item" data-slide-number="5">
                                                        <img src="http://placehold.it/770x300&text=six" />
                                                    </div>
                                                </div>
                                                <!-- Carousel nav -->
                                                <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                                                <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/Slider-->
                            <div class="row hidden-phone" id="slider-thumbs">
                                <div class="span12">
                                    <!-- Bottom switcher of slider -->
                                    <ul class="thumbnails">
                                        <li class="span2">
                                            <a class="thumbnail" id="carousel-selector-0">
                                                <img src="http://placehold.it/170x100&text=one" />
                                            </a>
                                        </li>
                                        <li class="span2">
                                            <a class="thumbnail" id="carousel-selector-1">
                                                <img src="http://placehold.it/170x100&text=two" />
                                            </a>
                                        </li>
                                        <li class="span2">
                                            <a class="thumbnail" id="carousel-selector-2">
                                                <img src="http://placehold.it/170x100&text=three" />
                                            </a>
                                        </li>
                                        <li class="span2">
                                            <a class="thumbnail" id="carousel-selector-3">
                                                <img src="http://placehold.it/170x100&text=four" />
                                            </a>
                                        </li>
                                        <li class="span2">
                                            <a class="thumbnail" id="carousel-selector-4">
                                                <img src="http://placehold.it/170x100&text=five" />
                                            </a>
                                        </li>
                                        <li class="span2">
                                            <a class="thumbnail" id="carousel-selector-5">
                                                <img src="http://placehold.it/170x100&text=six" />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Columna1 -->
                    <!-- Columna2 -->
                    <div class="span6">
                        <div class="form-horizontal">
                            <div class="control-group" style="margin-bottom: 0px;">
                                <label class="control-label"><strong>@Html.DisplayNameFor(model => model.AN_Descripcion)</strong></label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.AN_Descripcion)
                                </div>
                            </div>
                            <div class="control-group" style="margin-bottom: 0px;">
                                <label class="control-label"><strong>@Html.DisplayNameFor(model => model.AN_Area)</strong></label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.AN_Area)
                                </div>
                            </div>
                            <div class="control-group" style="margin-bottom: 0px;">
                                <label class="control-label"><strong>@Html.DisplayNameFor(model => model.PA_Id)</strong></label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.PA_Id)
                                </div>
                            </div>
                            <div class="control-group" style="margin-bottom: 0px;">
                                <label class="control-label"><strong>@Html.DisplayNameFor(model => model.SBS_Id)</strong></label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.SBS_Id)
                                </div>
                            </div>
                            <div class="control-group" style="margin-bottom: 0px;">
                                <label class="control-label"><strong>@Html.DisplayNameFor(model => model.AN_Telefono)</strong></label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.AN_Telefono)
                                </div>
                            </div>
                            <div class="control-group" style="margin-bottom: 0px;">
                                <label class="control-label"><strong>@Html.DisplayNameFor(model => model.AN_Celular)</strong></label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.AN_Celular)
                                </div>
                            </div>
                            <div class="control-group" style="margin-bottom: 0px;">
                                <label class="control-label"><strong>@Html.DisplayNameFor(model => model.AN_Fecha)</strong></label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.AN_Fecha)
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" onclick="TakeService()" class="btn-u">Contactar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Columna2 -->
                </div>

                <div class="span12">

                   
@*                        @Html.Action("GetReviewByAnunciosId", "Review", new { AN_Id = @Model.AN_Id });*@
                    
                </div>
            </div>
            <p class="message">
                <a href="@Url.Action("Index", "Home")">Volver</a>
            </p>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function ($) {

        $('#myCarousel').carousel({
            interval: 5000
        });

        $('#carousel-text').html($('#slide-content-0').html());

        //Handles the carousel thumbnails
        $('[id^=carousel-selector-]').click(function () {
            var id_selector = $(this).attr("id");
            var id = id_selector.substr(id_selector.length - 1);
            var id = parseInt(id);
            $('#myCarousel').carousel(id);
        });


        // When the carousel slides, auto update the text
        $('#myCarousel').on('slid', function (e) {
            var id = $('.item.active').data('slide-number');
            $('#carousel-text').html($('#slide-content-' + id).html());
        });


    });

    function TakeService() {
        debugger;
        var data = new FormData();
        data.append("Anuncio", $('#AN_Id').val());
        $.ajax({
            url: '@Url.Action("TakeService", "SolicitudServicio")',
            type: 'post',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function () {
                showProgress('../images/loading.gif');
            },
            complete: function (data) {
                hideProgress();
            },
            success: function (data) {
                $(".message").prepend('<div class="alert alert-success fade in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><strong>Servicio Solicitado!</strong> En breves horas el anunciante se debe contactar con usted para coordinar cita.</div>');
                $('.alert').alert();
                $('.alert').fadeOut(3000)
            },
            error: function (xhr) {
                alert(xhr.responseText, 'An error has ocurred');
            }
        });

    }
    var $ki = jQuery.noConflict();
    function showProgress(loadingImgSrc) {
        $ki.blockUI({
            message: '<p>Por favor espere mientra se procesa la solicitud...</p><img src="' + loadingImgSrc + '" /> <br>',
            css: {
                width: '450px',
                border: 'none',
                padding: '15px',
                backgroundColor: '#fafafa',
                'border-radius': '10px',
                opacity: .95,
                color: '#000',
                'font-size': '18px',
                'box-shadow': '0px 0px 12px rgba(0,0,0,.6)'
            }
        });
    }

    function hideProgress() {
        $ki.unblockUI();
    }
</script>
