@model SMAWeb.Models.AN_Anuncios

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>@Html.DisplayFor(model => model.AN_Titulo)</h3>
            </div>

            @Html.HiddenFor(model => model.AN_Id)
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.ST_Id)
            @Html.HiddenFor(model => model.AN_FechaExpiracion)
            <div class="row-fluid">
                <div class="span12">
                    <!-- Columna1 -->
                    <div class="span6">
                        <div id="main_area">
                            <!-- Slider -->
                            <div class="row">
                                <div class="span12" id="slider">
                                    <!-- Top part of the slider -->
                                    <div class="row">
                                        <div class="span12" id="carousel-bounding-box">
                                            <div id="myCarousel" class="carousel slide">
                                                <!-- Carousel items -->
                                                <div class="carousel-inner">

                                                    @{
                                                        int counter = 0;
                                                        if (@Model.AE_AnunciosExtras.Count > 0)
                                                        {
                                                            foreach (var item in @Model.AE_AnunciosExtras)
                                                            {
                                                                if (counter == 0)
                                                                {

                                                        <div class="active item" data-slide-number="@counter">
                                                            <img src="@Url.Content(item.AN_ImagenUrl)" />
                                                        </div>
                                                                }
                                                                else
                                                                {

                                                        <div class="item" data-slide-number="@counter">
                                                            <img src="@Url.Content(item.AN_ImagenUrl)" />
                                                        </div>
                                                                }

                                                                counter++;
                                                            }
                                                        }
                                                        else
                                                        {

                                                        <div class="active item" data-slide-number="@counter">
                                                            <img src="@Url.Content("~/Images/foto-no-disponible.jpg")" />
                                                        </div>
                                                        }
 }

                                                </div>
                                                <!-- Carousel nav -->
                                                <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                                                <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/Slider-->
                            <div class="row hidden-phone" id="slider-thumbs">
                                <div class="span12">
                                    <!-- Bottom switcher of slider -->
                                    <ul class="thumbnails">

                                        @{
                                            counter = 0;
                                            if (@Model.AE_AnunciosExtras.Count > 0)
                                            {
                                                foreach (var item in @Model.AE_AnunciosExtras)
                                                {

                                            <li class="span3">
                                                <a class="thumbnail" id="carousel-selector-@counter">
                                                    <img src="@Url.Content(item.AN_ImagenUrl)" />
                                                </a>
                                            </li>
                                                    counter++;
                                                }
                                            }
                                            else
                                            {

                                            <li class="span3">
                                                <a class="thumbnail" id="carousel-selector-@counter">
                                                    <img src="@Url.Content("~/Images/foto-no-disponible.jpg")" />
                                                </a>
                                            </li>
                                            }
 }

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Columna1 -->
                    <!-- Columna2 -->
                    <div class="span6">
                        <div class="form-horizontal">
                            <div class="control-group" style="margin-bottom: 0px;">
                                <label class="control-label"><strong>@Html.DisplayNameFor(model => model.AN_Descripcion)</strong></label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.AN_Descripcion)
                                </div>
                            </div>
                            <div class="control-group" style="margin-bottom: 0px;">
                                <label class="control-label"><strong>@Html.DisplayNameFor(model => model.AN_Area)</strong></label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.AN_Area)
                                </div>
                            </div>
                            <div class="control-group" style="margin-bottom: 0px;">
                                <label class="control-label"><strong>@Html.DisplayNameFor(model => model.PA_Id)</strong></label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.PA_Paises.PA_Descripcion)
                                </div>
                            </div>
                            <div class="control-group" style="margin-bottom: 0px;">
                                <label class="control-label"><strong>@Html.DisplayNameFor(model => model.CD_Id)</strong></label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.CD_CategoriaServicio.CD_Descripcion)
                                </div>
                            </div>
                            <div class="control-group" style="margin-bottom: 0px;">
                                <label class="control-label"><strong>@Html.DisplayNameFor(model => model.SBS_Id)</strong></label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.SBS_SubCategoriaServicio.SBS_Descripcion)
                                </div>
                            </div>
                            <div class="control-group" style="margin-bottom: 0px;">
                                <label class="control-label"><strong>@Html.DisplayNameFor(model => model.AN_Telefono)</strong></label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.AN_Telefono)
                                </div>
                            </div>
                            <div class="control-group" style="margin-bottom: 0px;">
                                <label class="control-label"><strong>@Html.DisplayNameFor(model => model.AN_Celular)</strong></label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.AN_Celular)
                                </div>
                            </div>
                            <div class="control-group" style="margin-bottom: 0px;">
                                <label class="control-label"><strong>@Html.DisplayNameFor(model => model.AN_Fecha)</strong></label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.AN_Fecha)
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" onclick="TakeService()" class="btn-u">Contactar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Columna2 -->
                </div>

                <div class="span12">
                </div>

                @{int counterreview = 0;}
                <div class="accordion acc-home margin-bottom-40" id="accordion2-gp1">
                    @foreach (var item in ViewBag.ReviewFound as List<SMAWeb.Models.ContentReviews>)
                    {
                        var userPic = item.SolicitudProfilePic;
                        string cssCollapse = "in";
                        foreach (var itemRV in item.ReviewsList)
                        {
                         
                   



                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2-gp1" href="#collapse-@itemRV.RW_Id">@itemRV.RW_Comentario
                                </a>
                            </div>

                            @{ if (counterreview > 0) { cssCollapse = ""; }}

                            <div id="collapse-@itemRV.RW_Id" class="accordion-body collapse @cssCollapse ">
                                <div class="accordion-inner">

                                    <div class="span9">

                                        <div class="span2">
                                            <a href="#" class="thumbnail" style="width:80px; height:80px;">
                                                <img src="@Url.Content(userPic)" style="width:80px; height:80px;" >
                                            </a>
                                        </div>
                                        <div class="span10">
                                            <div class="comments" style="height:70px; padding:9px;">
                                            <em style="color: #999999;">
                                                <i class="icon-user"></i>John
                                                | <i class="icon-calendar"></i>@itemRV.RW_Fecha
                                            </em>
                                            <p>
                                                @itemRV.RW_Comentario
                                            </p>
                                                </div>
                                        </div>

                                    </div>

                                    <div class="span8 offset1">


                                        <div class="margin-bottom-20">
                                            <div id="testimonials-@itemRV.RW_Id" class="carousel slide testimonials testimonials-v1">
                                                 <div class="carousel-arrow pull-right">
                                                    <a class="" href="#testimonials-@itemRV.RW_Id" data-slide="prev">
                                                        <i class="icon-chevron-left"></i>
                                                    </a>
                                                    <a class="" href="#testimonials-@itemRV.RW_Id" data-slide="next">
                                                        <i class="icon-chevron-right"></i>
                                                    </a>
                                                </div>
                                                <div class="carousel-inner">
                                                    @{int commentcounter = 0;}
                                                    @foreach (var itemcomment in itemRV.CR_ComentarioReview)
                                                    {
                                                        if (commentcounter == 0)
                                                        { 

                                                        <div class="item active">
                                                            <div class="testimonial-info">

                                                                <blockquote>
                                                                    <div class="span2">
                                                                        <img  class="img-circle img-polaroid" src="@Url.Content(itemcomment.UserProfile.Image)" style="width:68px; height:68px;">
                                                                    </div>
                                                                    <div class="span10">
                                                                        <p>
                                                                            @itemcomment.CR_Comentario

                                                                            <small>
                                                                                <em>@itemcomment.UserProfile.Name</em>
                                                                            </small>
                                                                        </p>

                                                                    </div>
                                                                </blockquote>
                                                            </div>
                                                        </div>
                                                        }
                                                        else
                                                        {

                                                        <div class="item">

                                                            <div class="testimonial-info">

                                                                <blockquote>
                                                                    <div class="span2">
                                                                        <img class="img-circle img-polaroid" src="@Url.Content(itemcomment.UserProfile.Image)" style="width:68px; height:68px;"  >
                                                                    </div>
                                                                    <div class="span10">
                                                                        <p>
                                                                            @itemcomment.CR_Comentario
                                                                            <small>
                                                                                <em>@itemcomment.UserProfile.Name</em></small>
                                                                        </p>
                                                                    </div>
                                                                </blockquote>
                                                            </div>
                                                        </div>
                                                        }
                                                        commentcounter++;
                                                    }

                                                </div>

                                               
                                            </div>
                                        </div>


                                    </div>

                                    <div class="span8 offset1 margin-bottom-20">



                                        @Html.TextArea("comentario-" + itemRV.RW_Id, new { @placeholder = "Agregar Comentario", @class = "input-block-level", @rows = "2" })

                                        <input type="submit" onclick="PostComment(this)" data-val="@itemRV.RW_Id" value="Comentar" class="btn-u pull-right btn-xlarge" />
                                        <br />
                                    </div>


                                </div>
                            </div>
                        </div>

                    
                                                    counterreview++;
                        }

                    }
                </div>

                <p class="message">
                    <a class="btn-u" href="@Url.Action("Index", "Home")">Volver</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/SMA.js"></script>
<script>
    jQuery(document).ready(function ($) {

        $('#myCarousel').carousel({
            interval: 5000
        });

        $('#carousel-text').html($('#slide-content-0').html());

        //Handles the carousel thumbnails
        $('[id^=carousel-selector-]').click(function () {
            var id_selector = $(this).attr("id");
            var id = id_selector.substr(id_selector.length - 1);
            var id = parseInt(id);
            $('#myCarousel').carousel(id);
        });


        // When the carousel slides, auto update the text
        $('#myCarousel').on('slid', function (e) {
            var id = $('.item.active').data('slide-number');
            $('#carousel-text').html($('#slide-content-' + id).html());
        });


    });

    function TakeService() {
        
        HOME.TakeService($('#AN_Id').val(), '@Url.Action("TakeService", "SolicitudServicio")');
    }

    function PostComment(link) {
        ANUNCIOS.PostComment(link, '@WebSecurity.CurrentUserId', '@Url.Action("Create", "Comentarios")');
    }
</script>
