@model IEnumerable<SMAWeb.Models.AnunciosViewModel>

@{
    ViewBag.Title = "Index";
}

<link href="@Url.Content("~/Content/jpages/jPages.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jpages/animate.css")" rel="stylesheet" type="text/css" />
@*<link href="@Url.Content("~/Content/jpages/style.css")" rel="stylesheet" type="text/css" />*@
<script src="@Url.Content("~/Scripts/jpage/jPages.min.js")" type="text/javascript"></script>


<div class="container">
    <div class="row-fluid margin-bottom-10">
        <div class="another-page">
             <div class="headline">
                <h3>Anuncios Publicados</h3>
            </div>
             
            <div style="width: 100%">
                <table class="table-hover"  style="width: 100%">
                    <thead>
                    </thead>
                    <tbody id="anunciosAvailable">
                        @foreach (var item in Model)
                        {<tr>
                            <td>
                                <div class="row-fluid">
                                    <div class="span12 booking-blocks">
                                        <!--   -->
                                        <div class="span10">
                                            <div class="pull-left booking-img">
                                                <!--   -->
                                                <img src="@item.FirstImage" alt="@item.Usuario" title="@item.Usuario">
                                                <!-- Nombre del Anunciante  -->
                                            </div>
                                            <div style="overflow: hidden;">
                                                <h2><a href="@Url.Action("Details", "Anuncios")/@item.AnunciosInfo.AN_Id">@item.AnunciosInfo.AN_Titulo</a></h2>
                                                <!-- Titulo Anuncio  -->


                                                <ul class="unstyled inline">
                                                    <li><i class="icon-briefcase"></i>@item.CategoriaDescripcion</li>
                                                    <!-- Categorias  -->
                                                    <li><i class="icon-map-marker"></i>@item.AnunciosInfo.AN_Area</li>
                                                    <!-- Lugar del anuncio, agregar campo a la base de datos  -->
                                                </ul>
                                                <!-- Descripcion de anuncio, basado en 200 caracteres -->
                                                <p>@item.AnunciosInfo.AN_Descripcion</p>



                                            </div>


                                        </div>
                                        <div class="span2 pull-right">

                                            <a class="btn-u btn-u-orange btn-block" href="@Url.Action("Details", "Anuncios")/@item.AnunciosInfo.AN_Id"><i class="icon-white icon-plus"></i>&nbsp;Leer Más</a>
                                            <button class="btn-u btn-u-orange btn-block" onclick="DeleteAnuncio('@item.AnunciosInfo.AN_Id')" style="text-align:left"><i class="icon-white icon-trash"></i>&nbsp;Eliminar</button>
                                            <button class="btn-u btn-u-orange btn-block" onclick="InactivateAnuncio('@item.AnunciosInfo.AN_Id' ,'@item.EstatusDescription')" style="text-align:left">
                                                <i class="icon-white icon-refresh"></i>@if (@item.EstatusDescription == "Activo")
                                                                                       { <i style="font-style: normal">Desactivar</i>}
                                                                                       else
                                                                                       { <i style="font-style: normal">Activar</i>}
                                            </button>

                                        </div>
                                    </div>

                                </div>
                            </td>
                        </tr>
           
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="1">
                                <div class="holder" style="float: left">
                                </div>
                            </td>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    </div>
</div>
<script>

    var $jpage = jQuery.noConflict();
    $jpage(function () {
        $jpage("div.holder").jPages({
            containerID: "anunciosAvailable",
            //              previous: "←",
            //              next: "→",
            first: "Primera",
            previous: "Anterior",
            next: "Siguiente",
            last: "Última",
            perPage: 5,
            delay: 20
        });
    });



    function DeleteAnuncio(id) {

        bootbox.confirm("¿Desea eliminar el anuncio publicado?", "Cancelar", "Aceptar", function (result) {
            if (result) {
                debugger;
                jQuery.ajax(
               {
                   type: 'post',
                   url: '@Url.Content("~/Anuncios/Delete/")',
                   data: { id: id },
                   beforeSend: function () {
                       showProgress('@Url.Content("~/images/loading.gif")');
                   },
                   complete: function (data) {
                       hideProgress();
                   },
                   success: function (data) {
                       location.reload();
                   },
                   error: function (xhr) {
                       if (xhr.status == 403) {

                       }
                       else {
                           bootbox.alert("<h1>A ocurrido un error</h1> <br />" + xhr.responseText, function () {
                           });
                       }
                   }
               });
           }
        });
        @*jConfirm('¿Desea borrar el anuncio publicado?', 'Borrar anuncio existente', function (confirmed) {
            if (confirmed) {
                jQuery.ajax(
               {
                   type: 'post',
                   url: '@Url.Content("~/Anuncios/Delete/")',
                   data: { id: id },
                   beforeSend: function () {
                       showProgress('@Url.Content("~/images/loading.gif")');
                   },
                   complete: function (data) {
                       hideProgress();
                   },
                   success: function (data) {
                       //jAlert('Registro borrado satistafactoriamente.');
                       //window.location = data.redirectToUrl;
                       //location.reload();
                   },
                   error: function (a, b, c) {
                       alert(a);
                   }
               });
           }
        });*@
   }

   function InactivateAnuncio(id, estado) {
       var titulo;
       var mensaje;
       debugger;
       if (estado == 'Activo') {
           titulo = 'Cambiar el estado del anuncio';
           mensaje = '¿Desea desactivar el anuncio?';
       }
       else {
           titulo = 'Cambiar el estado del anuncio';
           mensaje = '¿Desea activar el anuncio?';
       }


       bootbox.confirm(mensaje, "Cancelar", "Aceptar", function (result) {
           if (result) {
               jQuery.ajax(
              {
                  type: 'post',
                  url: '@Url.Content("~/Anuncios/Inactivate/")',
                  data: { id: id },
                  beforeSend: function () {
                      showProgress('@Url.Content("~/images/loading.gif")');
                   },
                  complete: function (data) {
                      hideProgress();
                  },
                  success: function (data) {
                      location.reload();

                  },
                  error: function (xhr) {
                      debugger;
                      if (xhr.status == 403) {

                      }
                      else {
                          bootbox.alert("<h1>A ocurrido un error</h1> <br />" + xhr.responseText, function () {
                          });
                      }
                  }
              });
           }
       });

       @*jConfirm(mensaje, titulo, function (confirmed) {
           if (confirmed) {
               jQuery.ajax(
              {
                  type: 'post',
                  url: '@Url.Content("~/Anuncios/Inactivate/")',
                  data: { id: id },
                  beforeSend: function () {
                      showProgress('@Url.Content("~/images/loading.gif")');
                  },
                  complete: function (data) {
                      hideProgress();
                  },
                  success: function (data) {
                      //jAlert('Registro desahilitado satistafactoriamente.');
                      //window.location = data.redirectToUrl;
                      location.reload();

                  },
                  error: function (a, b, c) {
                      alert(a);
                  }
              });
          }
       });*@
  }

  var $ki = jQuery.noConflict();
  function showProgress(loadingImgSrc) {
      $ki.blockUI({
          message: '<p>Por favor espere mientra se procesa la solicitud...</p><img src="' + loadingImgSrc + '" /> <br>',
          css: {
              width: '450px',
              border: 'none',
              padding: '15px',
              backgroundColor: '#fafafa',
              'border-radius': '10px',
              opacity: .95,
              color: '#000',
              'font-size': '18px',
              'box-shadow': '0px 0px 12px rgba(0,0,0,.6)',
              'z-index': '9999'
          }
      });
  }

  function hideProgress() {
      $ki.unblockUI();
  }
</script>
