<script src="~/Scripts/jquery.filedrop.js"></script>
<link href="~/Content/FileUpload/jquery.fileupload-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>


<div class="headline">
    <h3>Carga de Archivos</h3>
</div>
<div class="row-fluid">
    <div class="span12">

        <div style="display: table; width: 670px; margin-top: 10px;">
            <div style="display: table-cell; padding-left: 20px; width: 275px; vertical-align: top;">
                <form id="fileupload" method="POST" enctype="multipart/form-data">
                    <div><b>Paso a Seguir:</b></div>
                    <br />
                    <ol>
                        <li>

                            <span class="btn btn-u btn-success fileinput-button" style="margin-top: 5px;">
                                <i class="icon-plus icon-white"></i>
                                <span>Seleccionar imagenes...</span>
                                <input type="file" name="files[]" id="filecontrol" multiple>
                            </span>
                        </li>
                        <br />
                        <li>
                            <button type="submit" class="btn-u btn-primary start">
                                <i class="icon-upload icon-white"></i>
                                <span>Iniciar carga</span>
                            </button>
                        </li>
                    </ol>
                </form>
            </div>
            @*   <div style="display: table-cell; width: 100px; text-align: center; vertical-align: middle;">- OR -</div>
            <div style="display: table-cell; width: 275px;">
                <div id="dropzone" style='border: 3px dashed #ccc; width: 150px; height: 80px; margin: 0px auto; text-align: center; display: block'>
                    <p style="padding: 10px 10px; text-align: center">Drag & drop files here</p>
                </div>
            </div>*@
        </div>

        <div id="imagesResult">
            <table id="imagesColumns" class="table" style="width: 655px">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>
</div>
@*    </div>
</div>*@

<script>
    var url_handler = '@Url.Content("~/HttpHandler/UploadHandler.ashx")';
    var dropbox = $('#dropzone')
    dropbox.filedrop({
        // The name of the $_FILES entry:
        paramname: 'pic',
        maxfiles: 4,
        maxfilesize: 20,
        url: url_handler,
        uploadFinished: function (i, file, response, size, targetdiv) {
            debugger;
            $('#imagesColumns_tr_empty').remove();
            LoadNewFilesDrop(response, file.name);
            hideProgress();
        },
        error: function (err, file) {
            switch (err) {
                case 'BrowserNotSupported':
                    showMessage('Your browser does not support HTML5 file uploads!');
                    break;
                case 'TooManyFiles':
                    alert('Too many files! Please select 5 at most!');
                    break;
                case 'FileTooLarge':
                    alert(file.name + ' is too large! Please upload files up to 5mb.');
                    break;
                default:
                    break;
            }
            hideProgress();
        },
        // Called before each upload is started
        beforeEach: function (file) {
            var ext = file.name.split('.').pop().toLowerCase()
            var typeArr = ['jpg', 'jpeg', 'gif', 'png', 'pdf', 'doc', 'docx', 'ppt', 'pptx', 'mp3', 'mp4', 'mpeg', 'kml'];
            if (jQuery.inArray(ext, typeArr) == -1) {
                jAlert('Invalid file type. Please, choose a valid type (ex. "jpg", "jpeg", "gif", "png", "pdf", "doc", "docx", "ppt", "pptx")');
                return false;
            }
        },
        uploadStarted: function (i, file, len) {
            // createImage(file);
            showProgress('@Url.Content("~/images/loading.gif")');
        },
    });

        $(document).ready(function () {

            $('#fileupload').submit(function (e) {
                debugger;
                var lenght = jQuery(".thumbnails").find('li[itemid]').length;
                if (lenght == undefined)
                    lenght = 0;
                else if (lenght == 0)
                    lenght = -1;

                e.preventDefault();
                if (VerifyFiles()) {
                    return false;
                }
                UploadFiles(lenght);
                return false;
            });
        });

        function VerifyFiles() {
            if ($('#filecontrol').val() == '') {
                jAlert('No file(s) selected. Please, choose a valid file to upload.');
                return true;
            }
            if ($('#filecontrol').val() != '') {
                var ext = $('#filecontrol').val().split('.').pop().toLowerCase();
                var typeArr = ['jpg', 'jpeg', 'gif', 'png', 'pdf', 'doc', 'docx', 'ppt', 'pptx'];
                if (jQuery.inArray(ext, typeArr) == -1) {
                    jAlert('Invalid file type. Please, choose a valid type (ex. "jpg", "jpeg", "gif", "png", "pdf", "doc", "docx", "ppt", "pptx")');
                    return true;
                }
            }
            return false;
        }

        function UploadFiles(lenght) {

            var formData = new FormData();
            if (lenght == 0) {
                $.each($('#filecontrol')[0].files, function (i, file) {
                    formData.append('uploadFile-' + i, file);
                });
            }
            else {
                if (lenght == -1) lenght = 0;
                var counter = 4 - parseInt(lenght);
                $.each($('#filecontrol')[0].files, function (i, file) {
                    if (counter == i)
                        return false;
                    formData.append('uploadFile-' + i, file);
                });
            }

            formData.append('action', url_handler);
            showProgress('@Url.Content("~/images/loading.gif")');
            jQuery.ajax({
                url: url_handler,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,

                //MODIFIED - From ajaxData to formData
                data: formData,

                success: function (data, textStatus, jqXHR) {

                    $('#filecontrol').val('');
                    $('#imagesColumns_tr_empty').remove();

                    LoadNewFiles(data);

                    hideProgress();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    hideProgress();
                    jAlert('An exception has ocurred when uploading the file: ' + jqXHR.responseText, 'Error');
                }
            });
        }

        function LoadNewFiles(data, fileName) {
            var result = JSON.parse(data);
            $.each(result.$values, function (i, e) {
                debugger;
                var addNewFile = (fileName == undefined) ? true : (fileName.toLowerCase() == e.name.toLowerCase());
                if (addNewFile) {
                    var row = $('<tr/>');
                    row.append($('<td style="padding: 5px 0px;"><img class="imgPreview" src="' + e.thumbnail_url + '" width="50" height="50"/></td>'));
                    row.append($('<td><div>' + e.name + '</div><div class="font-gray" style="font-size: 8pt;">' + e.type + '</div></td>'));


                    var deleteElement = '<td><button data-name="' + e.name + '" class="btn-u btn btn-danger" data-url="' + e.url + '" data-idelement="' + e.IdResource + '"  onclick="DeleteFile(this)" value="Delete"> <i class="icon-trash icon-white"></i></button></td>';
                    row.append($(deleteElement));

                    $('#imagesColumns').find('tbody').append(row);
                }
            });
        }


        function LoadNewFilesDrop(data, fileName) {
            $.each(data.$values, function (i, e) {
                debugger;
                var addNewFile = (fileName == undefined) ? true : (fileName.toLowerCase() == e.name.toLowerCase());
                if (addNewFile) {
                    var row = $('<tr/>');
                    row.append($('<td style="padding: 5px 0px;"><img class="imgPreview" src="' + e.thumbnail_url + '" width="50" height="50"/></td>'));
                    row.append($('<td><div>' + e.name + '</div><div class="font-gray" style="font-size: 8pt;">' + e.type + '</div></td>'));


                    var deleteElement = '<td><button data-name="' + e.name + '" class="btn-u btn btn-danger" data-url="' + e.url + '" data-idelement="' + e.IdResource + '" onclick="DeleteFile(this)" value="Delete"> <i class="icon-trash icon-white"></i></button></td>';
                    row.append($(deleteElement));

                    $('#imagesColumns').find('tbody').append(row);
                }
            });
        }

        function DeleteFile(link) {
            var url = $(link).attr('data-url');
            var idres = $(link).attr('data-idelement');
            debugger;
            var urldelete = '@Url.Content("~/HttpHandler/UploadHandler.ashx")' + url + "&id=" + idres;

            jConfirm('Do you want to delete "' + name + '" resource?', 'Delete resource', function (confirm) {
                if (confirm) {
                    showProgress('@Url.Content("~/images/loading.gif")');
                    jQuery.ajax({
                        url: urldelete,
                        type: 'POST',
                        dataType: "json",
                        cache: false,
                        success: function (data, textStatus, jqXHR) {
                            $(link).parents('tr').first().remove();
                            var rowCount = $('#imagesColumns >tbody >tr').length
                            if (rowCount == 0) {
                                var row = $('<tr id="imagesColumns_tr_empty">' +
                                    '<td colspan="3" style="text-align: center;">No resources</td>' +
                                '</tr>');
                                $('#imagesColumns').find('tbody').append(row);
                            }

                            hideProgress();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            hideProgress();
                            jAlert('An exception has ocurred when uploading the file: ' + jqXHR.responseText, 'Error');
                        }
                    });
                }
            });
        }

        (function ($) {
            $.fn.imageResize = function (options) {
                var that = this;
                var settings = {
                    width: 50,
                    height: 50
                };
                options = $.extend(settings, options);

                if (!that.is('img')) {
                    return;
                }

                return that.each(function () {
                    var maxWidth = options.width;
                    var maxHeight = options.height;
                    var ratio = 0;
                    var width = $(that).width();
                    var height = $(that).height();

                    if (width > maxWidth) {
                        ratio = maxWidth / width;
                        $(that).css('width', maxWidth);
                        $(that).css('height', height * ratio);

                    }

                    if (height > maxHeight) {
                        ratio = maxHeight / height;
                        $(that).css('height', maxHeight);
                        $(that).css('width', width * ratio);

                    }
                });
            };
        })(jQuery);

        function showProgress(loadingImgSrc) {
            $ki.blockUI({
                message: '<p>Por favor espere mientra se procesa la solicitud...</p><img src="' + loadingImgSrc + '" /> <br>',
                css: {
                    width: '450px',
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#fafafa',
                    'border-radius': '10px',
                    opacity: .95,
                    color: '#000',
                    'font-size': '18px',
                    'box-shadow': '0px 0px 12px rgba(0,0,0,.6)',
                    'z-index': '9999'
                }
            });
        }

        function hideProgress() {
            $ki.unblockUI();
        }
</script>
