@model IEnumerable<SMAWeb.Models.SolicitudViewModel>

@{
    ViewBag.Title = "Tus Solicitudes de Servicios";
}


<link href="@Url.Content("~/Content/jpages/jPages.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jpages/animate.css")" rel="stylesheet" type="text/css" />
@*<link href="@Url.Content("~/Content/jpages/style.css")" rel="stylesheet" type="text/css" />*@
<script src="@Url.Content("~/Scripts/jpage/jPages.min.js")" type="text/javascript"></script>


<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Tus Solicitudes de Servicios</h3>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Solicitud)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaCreacion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Solicitante)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmailSolicitante)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TelefonoSolicitante)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="divBody">


                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Solicitud)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaCreacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Solicitante)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmailSolicitante)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TelefonoSolicitante)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>

                                @if (item.StatusId == 1)
                                {
                                    <a class="btn-u" attrurl="@Url.Action("ChangeStatus", "SolicitudServicio", new { Solicitud = item.Solicitud, Status = 6 })" id="starttask">Iniciar Tarea</a>
                                    <a class="btn-u" attrurl="@Url.Action("ChangeStatus", "SolicitudServicio", new { Solicitud = item.Solicitud, Status = 2 })" id="canceltask">Cancelar Tarea</a>
                                }

                                else if (item.StatusId == 6)
                                {
                                    <a class="btn-u" attrurl="@Url.Action("ChangeStatus", "SolicitudServicio", new { Solicitud = item.Solicitud, Status = 3 })" id="processtask">Tarea Completada</a>
                                }

                                else if (item.StatusId == 2)
                                {
                                    <a class="btn-u">Tarea Cancelada</a>
                                }

                            </td>
                        </tr>
                    }
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="6">
                            <div class="holder" style="float: left">
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div id="message"></div>
<script>
    var $jpage = jQuery.noConflict();
    $jpage(function () {
        $jpage("div.holder").jPages({
            containerID: "divBody",
            //              previous: "?",
            //              next: "?",
            first: "Primera",
            previous: "Anterior",
            next: "Siguiente",
            last: "Última",
            perPage: 5,
            delay: 20
        });
    });

    jQuery(document).ready(function () {
        jQuery('#starttask, #canceltask, #processtask').click(function () {
            var url = jQuery(this).attr('attrurl');
            $.ajax({
                url: url,
                type: 'get',
                beforeSend: function () {
                    showProgress('../images/loading.gif');
                },
                complete: function (data) {
                    hideProgress();
                },
                success: function (data) {
                    alert('Solicitud Actualizada');
                    setTimeout(3000);
                    window.location = '@Url.Action("SolicitudRequest","SolicitudServicio")';
                },
                error: function (xhr) {
                    if (xhr.status == 403) {
                        
                    }
                }
            });
        });
    });
    var $ki = jQuery.noConflict();
    function showProgress(loadingImgSrc) {
        $ki.blockUI({
            message: '<p>Por favor espere mientra se procesa la solicitud...</p><img src="' + loadingImgSrc + '" /> <br>',
            css: {
                width: '450px',
                border: 'none',
                padding: '15px',
                backgroundColor: '#fafafa',
                'border-radius': '10px',
                opacity: .95,
                color: '#000',
                'font-size': '18px',
                'box-shadow': '0px 0px 12px rgba(0,0,0,.6)'
            }
        });
    }

    function hideProgress() {
        $ki.unblockUI();
    }

</script>
