@model SMAWeb.Models.SBS_SubCategoriaServicio

@{
    ViewBag.Title = "Create";
}




<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="reg-page">
            <div class="headline">
                <h3>Formulario de SubCategorias</h3>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

  

                @Html.HiddenFor(model => model.SBS_Id)
              
  
                @Html.LabelFor(model => model.CD_Id)
                @Html.DropDownList("CD_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.CD_Id)
                <br />

 
                @Html.LabelFor(model => model.SBS_Descripcion)
                
                @Html.TextBoxFor(model => model.SBS_Descripcion, new { @placeholder = "SubCategoría", @class = "input-xlarge" })
                @Html.ValidationMessageFor(model => model.SBS_Descripcion)
                <br />

                <p>
                    <input type="submit" value="Crear" class="btn-u" />
                </p>
  
            }


        </div>
    </div>

</div>

@*<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
