@model SMAWeb.Models.SBS_SubCategoriaServicio

@{
    ViewBag.Title = "Edit";
}

<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Editar SubCategorias</h3>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

           
                @Html.HiddenFor(model => model.SBS_Id)

                
    
                <div class="editor-label">
                    @Html.LabelFor(model => model.CD_CategoriaServicio)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("CD_Id", String.Empty)
                    @Html.ValidationMessageFor(model => model.CD_Id)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.SBS_Descripcion)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.SBS_Descripcion, new { @placeholder = "Descripción SubCategoría", @class = "input-xxlarge" })
                    @Html.ValidationMessageFor(model => model.SBS_Descripcion)
                </div>

                <p>
                    <input type="submit" value="Guardar" class="btn-u" />
                </p>
                
            }

            <div>
                @Html.ActionLink("Regresar", "Index")
            </div>

               @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }


        </div>
    </div>
</div>
