@model IEnumerable<SMAWeb.Models.SBS_SubCategoriaServicio>

@{
    ViewBag.Title = "Index";
}

<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Formulario de SubCategorias</h3>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.SBS_Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CD_CategoriaServicio.CD_Descripcion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SBS_Descripcion)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
        
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SBS_Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CD_CategoriaServicio.CD_Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SBS_Descripcion)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new {  id=item.SBS_Id  }) |
          @*  @Html.ActionLink("Detalles", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
