@model IEnumerable<SMAWeb.Models.SBS_SubCategoriaServicio>

@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/jpages/jPages.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jpages/animate.css")" rel="stylesheet" type="text/css" />
@*<link href="@Url.Content("~/Content/jpages/style.css")" rel="stylesheet" type="text/css" />*@
<script src="@Url.Content("~/Scripts/jpage/jPages.min.js")" type="text/javascript"></script>
<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Formulario de SubCategorias</h3>
            </div>

            <p>
                @Html.ActionLink("Nuevo", "Create")
            </p>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.SBS_Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CD_CategoriaServicio.CD_Descripcion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SBS_Descripcion)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="divBody">
                    @foreach (var item in Model)
                    {
        
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SBS_Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CD_CategoriaServicio.CD_Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SBS_Descripcion)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.SBS_Id })  @*|
           @Html.ActionLink("Detalles", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })*@
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <div class="holder" style="float: left">
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script>
    var $jpage = jQuery.noConflict();
    $jpage(function () {
        $jpage("div.holder").jPages({
            containerID: "divBody",
            //              previous: "?",
            //              next: "?",
            first: "Primera",
            previous: "Anterior",
            next: "Siguiente",
            last: "Última",
            perPage: 15,
            delay: 20
        });
    });
</script>
